.THIS.body_container {
    min-height:300px;
    padding: 20px 20px;
}

.THIS .noMessages p {
   text-align: center;
   font-family: AktivGrotesk-Regular;
   font-size: 15px;
   line-height: 22px;
   color: black;
}