.THIS .hidden{
  display: none;
}
.THIS textarea {
  width: 90%;
}
.THIS .required {
    border-left: 0.3em solid red !important;
}
.THIS .slds-popover {
    width: auto !important;
}

@media (max-width: 1200px) {
    .THIS .uiMenuItem {
        font-size: 200%;
    }

    .THIS .slds-button {
        display: block !important;
    }
}
