body {
	font-size : 9pt;
	line-height : 11pt;
	font-family : Arial, Helvetica, sans-serif;
	color : #555555;
	margin:0px;
	line-height:16px;
}
.page_login

.page_login h1 {
    color: #028FD7;
    font-size: 21pt;
    font-weight: normal;
    line-height: 28px;
	margin-top:0px;
}

.page_login h2 {
	color: #103C73;
	font-size:16pt;
	font-weight:normal;
	margin-top:0px;
}

.page_login h3 {
    color: #103C73;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 0px;
}


.page_login p {
	margin : 0 0 15px;
}

.page_login ul {
	list-style : none;
	margin : 5px 0 10px 0;
}



.page_login a img {
	border : 0;
}

.page_login a:focus {
	color : #028FD7!important;
	outline : 0;
}

.page_login a {
	color : #555555;
	text-decoration : underline;
}

.page_login a:visited {
	color : #6c6c6c;
}

.page_login a:hover {
	color : #028FD7!important;
	text-decoration : underline;
}

.page_login a:active {
	color : #555555;
}

.page_login fieldset {
	border : 0;
}

.page_login ol li {
	list-style-type:disc;
	padding : 2px 0 3px 2px;
}

body img.wwBg {
	height: auto;
	left: 0;
	min-height: 550px;
	min-width: 1024px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -9999;
}

.page_login #header {
	background-color: white;
    height: 90px;
    margin: 0 auto 45px;
    padding-left: 20px;
    padding-right: 20px;
    width: 960px;
}

.page_login #main-container{
	width:960px; 
	padding:20px; 
	margin:0px auto; 
	background-color:white;
	min-height:560px;
}

.page_login #form-table{
	float:left;
}

.page_login table.formTable{
	border:1px solid #c9dae2;
}

.page_login #content {
    float: left;
    padding-right: 10px;
    vertical-align: top;
    width: 650px;
}

.page_login #loginContent {
    background-image: url("../images/login-bg.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: scroll;
	background-color:rgba(0, 0, 0, 0);
    float: left;
    height: 466px;
    vertical-align: top;
    width: 960px;
}

.page_login #loginText {
    color: #FFFFFF;
    float: left;
    font-size: 15pt;
    line-height: 21pt;
    margin: 20px 0 20px 20px;
    width: 600px;
}


.page_login #login-form-table {
    float: right;
    margin: 20px;
	width:300px;
}

.page_login #login-form-table h1 {font-size:14pt; color:white; padding-left: 5px;}

/*---------------------*/

.page_login table.loginFormTable {
	border:0px;
}

.page_login table.loginFormTable tr td {
	vertical-align: top;
	padding: 0 5px 10px;
	font: 9pt Arial, Helvetica, sans-serif;
	color:#585858;
}

.page_login table.loginFormTable thead tr td {
	background-color: #9A9A9A;
	padding: 3px 5px;
	text-align: left;
	border-bottom: 1px solid #D7E2EB;
	border-top: 1px solid #D7E2EB;
	color: #fff;
	font: bold 9pt Arial, Helvetica, sans-serif;
}

.page_login table.loginFormTable thead tr td a:focus {
	color : #FFFFFF;
	outline : 0;
}

.page_login table.loginFormTable thead tr td a {
	color : #FFFFFF;
	text-decoration :   underline!important;
}

.page_login table.loginFormTable thead tr td a:visited {
	color : #FFFFFF;
	text-decoration : underline!important;
}

.page_login table.loginFormTable thead tr td a:hover {
	color : #FFFFFF;
	text-decoration : underline;
}

.page_login table.loginFormTable thead tr td a:active {
	color : #FFFFFF;
	text-decoration : none!important;
}

.page_login table.loginFormTable tr td.Info {
	vertical-align: top;
	padding: 8px 3px 5px;
	border-bottom: 1px solid #D7E2EB;
	background-color: #FAFCFE;
	font: 9pt Arial, Helvetica, sans-serif;
}

.page_login table.loginFormTable tr td.info {
	vertical-align: top;
	padding: 8px 3px 5px;
	border-bottom: 1px solid #D7E2EB;
	background-color: #FAFCFE;
	font: 9pt Arial, Helvetica, sans-serif;
}

.page_login table.loginFormTable tr td.info label {
	float: none !important;
}

.page_login table.loginFormTable tr th {
	font-weight: normal;
	font: 9pt Arial, Helvetica, sans-serif;
	padding: 8px 3px 5px;
	text-align: right;
	vertical-align: top;
}

.page_login table.loginFormTable tbody tr th {
	font-weight: normal;
	font: 9pt Arial, Helvetica, sans-serif;
	padding: 8px 3px 5px;
	text-align: right;
	vertical-align: top;
	width:230px;
}

.page_login table.loginFormTable tr td select option {
	padding-left: 2px;
}

.page_login table.loginFormTable tr th label {
	float: none!important;
	height: auto;
	margin: 0;
}

.page_login table.loginFormTable tr td select,.page_login  table.loginFormTable tr td input, .page_login table.loginFormTable tr td textarea {
	margin: 2px 2px 2px 0;
	vertical-align: middle;
	font-family:Arial;
	font-size:9pt;
}

.page_login table.loginFormTable tr td label {
	float: none !important;
	width: auto !important;
	margin:2px;
	font-weight:bold;
}

/*--------------------*/

.page_login #footer {
	font-family:Arial, Helvetica, sans-serif; 
	margin:0px auto;
	background: url('footer-bg.jpg') no-repeat scroll left top transparent;
	clear: both;
	font-size: 8pt;
	margin-top: 50px;			
	padding-top: 45px;
	width: 960px; 
	padding-bottom:30px;
	bottom:0;
}

.page_login #footer ul {
    padding-left:10px; 
	padding-right:10px;
	width: 600px;
	float:left;
}

.page_login #footer ul li {
    background: none repeat scroll 0 0 transparent;
    color: #9B9B9B;
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
}

* + html .page_login  #footer ul li {
    display: inline;
}

.page_login #footer li a {
    color: #555555;
    text-decoration: none;
    vertical-align: top;
}

.page_login #footer li a:visited {
    color: #6C6C6C;
}

.page_login #footer li a:hover {
    color: #6C6C6C;
}

.page_login #footer li.first {
    padding-left: 0;
}

.page_login #footer li.last {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
}

.page_login #footer ul.socialMedia {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0;
    width: 170px;
}

.page_login #footer ul.socialMedia li {
    background: none repeat scroll 0 0 transparent;
    padding-left: 4px;
    padding-right: 0;
}

.page_login #footer ul.socialMedia li img {
    border: 0 none;
    vertical-align: bottom;
}

.page_login #footer p {
    color: #9B9B9B;
    float: right;
    font-size: 8pt;
    margin: 3px 0 0 12px;
    padding-right: 20px;
}


.page_login table.formTable {
	margin-bottom: 15px;
	border:0px;
}

.page_login table.formTable tr td {
	vertical-align: top;
	padding: 5px 3px 5px;
	font: 8pt/12pt Arial, Helvetica, sans-serif;
}

.page_login table.formTable thead tr td {
	background-color: #9A9A9A;
	padding: 3px 5px;
	text-align: left;
	border-bottom: 1px solid #D7E2EB;
	border-top: 1px solid #D7E2EB;
	color: #fff;
	font: bold 8pt/12pt Arial, Helvetica, sans-serif;
}

.page_login table.formTable thead tr td a:focus {
	color : #FFFFFF;
	outline : 0;
}

.page_login table.formTable thead tr td a {
	color : #FFFFFF;
	text-decoration :   underline!important;
}

.page_login table.formTable thead tr td a:visited {
	color : #FFFFFF;
	text-decoration : underline!important;
}

.page_login table.formTable thead tr td a:hover {
	color : #FFFFFF;
	text-decoration : underline;
}

.page_login table.formTable thead tr td a:active {
	color : #FFFFFF;
	text-decoration : none!important;
}

.page_login table.formTable tr td.Info {
	vertical-align: top;
	padding: 8px 3px 5px;
	border-bottom: 1px solid #D7E2EB;
	background-color: #FAFCFE;
	font: 8pt/10pt Arial, Helvetica, sans-serif;
}

.page_login table.formTable tr td.info {
	vertical-align: top;
	padding: 8px 3px 5px;
	border-bottom: 1px solid #D7E2EB;
	background-color: #FAFCFE;
	font: 8pt/10pt Arial, Helvetica, sans-serif;
}

.page_login table.formTable tr td.info label {
	float: none !important;
}

.page_login table.formTable tr th {
	font-weight: normal;
	font: 8pt/10pt Arial, Helvetica, sans-serif;
	padding: 8px 3px 5px;
	text-align: right;
	vertical-align: top;
}

.page_login table.formTable tbody tr th {
	font-weight: normal;
	font: 8pt/10pt Arial, Helvetica, sans-serif;
	padding: 8px 3px 5px;
	text-align: right;
	vertical-align: top;
	width:230px;
}

.page_login table.formTable tbody tr td {
	vertical-align: top;
	background-color:#f7fcff;
}

.page_login table.formTable tr td select option {
	padding-left: 2px;
}

.page_login table.formTable tr th label {
	float: none!important;
	height: auto;
	margin: 0;
}

.page_login table.formTable tr td select,.page_login  table.formTable tr td input,.page_login  table.formTable tr td textarea {
	margin: 2px;
	vertical-align: middle;
	font-family:Arial;
	font-size:8pt;
}

.page_login table.formTable tr td label {
	float: none !important;
	width: auto !important;
	margin:2px;
	font-weight:bold;
}

.page_login .primaryBtn {
    background: url("../images/btn-primary.jpg") no-repeat scroll 0 0 #D7FFB3;
    border: 1px solid #4E8E15;
    color: #FFFFFF;
    cursor: pointer;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    padding: 1px 3px 2px 10px;
    text-align: center;
    width: auto;
}

.page_login .secondaryBtn {
    background: url("../images/btn_bg.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #7C95A4;
    color: #293746;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin: 1px 0 0;
    padding: 1px 3px 2px 10px;
    text-align: center;
    vertical-align: middle;
    width: auto;
}