@charset "utf-8";
/* CSS Document */

body.sfdcBody,
body { background:#fff }
#contentWrapper {/* min-height:1200px*/}
.registration_page .logo { display:block !important}
.registration_page .list-inline a { color:#000}

.btn-success2 {
  color: #ffffff;
  background-color: #a1bc00;
  border: 1px solid #4E8E15;
  font-weight: bold;
  cursor: pointer;
}

.multiSelectFunction {}
           .multiSelectFunction table.multiSelectPicklistTable { width: 100% }
           .multiSelectFunction table.multiSelectPicklistTable td {vertical-align: top;}
           .multiSelectFunction table.multiSelectPicklistTable td.multiSelectPicklistCell {width: 9%;}
           .multiSelectFunction table.multiSelectPicklistTable td img.form-control {  border: 0 none;}
           .multiSelectPicklistTable td select {height: 82px;}

.statusBox{margin-left: 60%;margin-top: -12%;}

h3.panel-title {background: none repeat scroll 0 0 #a1bc00;color: #fff;display: block;font-size: 19px;font-weight: normal;margin-top: 0;padding: 10px;}
.has-error .hiddenerror {display: inline !important;}
.errormsg {font-weight: bold; font-size: 14px; color: #C90435;}


body img.wwBg {
    height: auto;
    left: 0;
    min-height: 550px;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -9999;
}
.container {
	min-width:1024px !important}
.banner {
    margin-left: 20px;
}
.banner img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;
	padding-top: 20px;
}
.btn_iata { background-image:none !important}
.noborder { margin: -15px 0 20px;border:0 none !important;box-shadow: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;}
.clearer { clear:both}
.has-error .input-group-addon { background-color:#eeeeee; padding-bottom: 5px;}
.logo { background:url(../images/logo.jpg) scroll no-repeat 0 0; width:103px;height:69px; display:inline-block;}
.logocns{ background:url(../images/logocns.png) scroll no-repeat 0 0; width:153px;height:69px; display:block;}
.recaptchatable { width:100%;}
#recaptcha_table {border: 1px solid #9F9F9F !important;}
#recaptcha_table td {padding: 0 !important;}
#recaptcha_table td #recaptcha_response_field { margin:0 0 0 5px}
#recaptcha_table td .recaptcha_only_if_privacy {font-size: 11px;}
.recaptchatable #recaptcha_image {border:0 none !important}

.panel,
.panel-heading,
.btn_save,
.btn_iata   { border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;border: 0 none !important;}
.form-control { border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;border: 0 none ;}
.form-control.saveMode { border-color:#EEEEEE !important;color: #AEAEAE;}
.bodyDiv,
.zen .zen-headerBottom { box-shadow:inherit !important;-moz-box-shadow:inherit !important;-webkit-box-shadow:inherit !important;}
.issp_bg  {
    height: auto;
    left: 0;
    min-height: 550px;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -9999;
}
.lbl { color:#1b4674; font-weight:normal !important; text-align:left !important; font-family:Arial, Helvetica, sans-serif; font-size:12px}
label { font-weight:normal !important}
.head_panel { background:#028fd7 !important; color:#fff !important}
.head_panel_green { background:#62b319 !important; color:#fff !important}
.head_panel_pink { background:#e4176e !important; color:#fff !important}
.head_panel_pink .badge {background-color:#84001E}
.head_panel_purple { background:#5f3287 !important; color:#fff !important}
.head_panel_purple .navbar-btn {
background: #582c7f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiM1ODJjN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMzNzBjNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #582c7f 49%, #370c5e 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#582c7f), color-stop(50%,#370c5e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #582c7f 49%,#370c5e 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #582c7f 49%,#370c5e 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #582c7f 49%,#370c5e 50%); /* IE10+ */
background: linear-gradient(to bottom,  #582c7f 49%,#370c5e 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#582c7f', endColorstr='#370c5e',GradientType=0 ); /* IE6-8 */



border:1px #202020 solid;
-webkit-box-shadow:0 1px 0px rgba(255, 255, 255, 0.23) inset, 0 0px 5px rgba(255, 255, 255, 0.23) inset ;
   -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 0.23) inset, 0 0px 5px rgba(255, 255, 255, 0.23) inset ;
		box-shadow:0 1px 0px rgba(255, 255, 255, 0.23) inset, 0 0px 5px rgba(255, 255, 255, 0.23) inset ;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
  		border-radius:3px;
color:#D4D4D4; font-size: 12px; font-weight:bold; line-height: 7px;padding: 10px 22px;margin: -6px -10px 0;}
.head_panel_purple .navbar-btn:hover { background-color:#794CA1 !important;border-color:#794CA1 !important; color:#fff}
.head_panel_green { background:#62B31A !important; color:#fff !important}
.head_panel_green .badge {background-color:#126300}

.block_content { min-height:230px}
.container .panel-primary { min-height: 350px;}
h3.fl_lbl {
	color: #028FD7;
	display: block;
    float: left;
    margin: 30px 0 0;}
.container > h4 { font-size:12px;margin: 30px 0 0;}
 .block_content {height: 310px; min-height:310px;/*overflow: auto;*/overflow: hidden;}
#my_notification,
#my_Content {
	overflow: hidden;
    position: absolute;
	width: 91.33%  !important;
	 }
#my_notification {height:300px !important;}
#my_Content {height:280px !important;}
.badge { min-width:30px !important}
.log_a_case {
	}
.log_a_case a {
	/*color:#eee;
	display: block;
    padding: 5px 30px;
background: #ffa800;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmYTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffa800 1%, #ff7e00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffa800), color-stop(100%,#ff7e00));
background: -webkit-linear-gradient(top,  #ffa800 1%,#ff7e00 100%);
background: -o-linear-gradient(top,  #ffa800 1%,#ff7e00 100%);
background: -ms-linear-gradient(top,  #ffa800 1%,#ff7e00 100%);
background: linear-gradient(to bottom,  #ffa800 1%,#ff7e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#ff7e00',GradientType=0 );

border:5px #ebebeb solid;
border-radius:8px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
 text-align: center;
    width: 23%;
	margin: 0 auto;
	font-size: 11px;
    font-weight: bold;
 text-transform: uppercase;*/
	}
/*.log_a_case a:hover { text-decoration:none; color:#eee;  background: #ffa800;}*/
.active { background:red}

.panel-body h5 { display:block;clear: both;}
.log_a_case a {
    color: #707070;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    padding: 20px 0 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.log_a_case a:hover { text-decoration:none;}
.log_a_case,
.badge_app,
.badge_empty {
	background:#02B9D6;
	 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eeeeee 0%, #d3d3d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#d3d3d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#d3d3d3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#d3d3d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */
	border: 1px solid #D4D4D4;
	color:#fff;
	cursor:pointer;
    border: 1px solid #eee;
	float:left;
    display:block;
    height: 70px;
    line-height: 1em;
    margin: 10px 5px;
	padding:1px;
    text-align: center;
    width: 70px;
	   	-webkit-transition: background-color 0.5s ease;
	   -moz-transition: background-color 0.5s ease;
			transition: background-color 0.5s ease;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}
.badge_app > span { display:block; color:#000}
.badge_empty {border: 1px dashed #ACACAC;background:#eee;}
.badge_app:hover {background:#428BCA}
.badge_empty:hover {background:#428BCA}
.badge_app:hover img,
.badge_empty:hover img{-webkit-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	   -moz-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		 -o-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-ms-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
			transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);}

.badge_app img,
.badge_empty img {
	display: inline-block;
    height: auto;
    padding: 7px 4px 2px;
    vertical-align: top;
    width: 60px;x}
.lbl_services {display: block;color: #333333;font-size: 11px;}
.panel_info { background:#dfdfdf;margin: 0 0 30px;}
.btn-green { background:#BBD01C !important; color:#5b6f00 !important; border:0 none !important}
.btn-green:hover { background:#ABC010 !important}
.btn_save { float:right !important; margin-right: 30px !important; padding:6px 25px !important; background:#62b319 !important; color:#FFF  !important}
.btn_cancel { background: #DFDFDF !important;  color: #000000 !important;height: 29px;}
.btn_change_c {
	height: 29px !important;
    margin: 3px 0 0 !important;
    padding: 6px 0 !important;

	}

.container { background:#fff}

nav.top_bar { background:#fff !important}
nav.top_bar ul {    padding: 0 0 0 30px; background:url(../images/home-ico.png) scroll no-repeat -30px 30px; line-height:4.5em}
nav.top_bar li  {padding: 5px; display:inline-block}
nav.top_bar li a {
    color: #1B4674 !important;
    font-weight: bold;
}
nav.top_bar li a:hover {
    color: #028FD7 !important;
    font-weight: bold;
    text-decoration: none;
}
.logbox { margin:1% auto; width: 100%; }
.logbox {
    display: block;
    line-height: 1;
    padding: 4px;
	}
/*.logbox input[type="text"],
.logbox input[type="password"],
.logbox textarea { border:1px #999 solid !important}*/
.f_name_input { border:0 none}
.logbox .form-control {/*height: 29px !important;*/ font-size: 12px !important;}
.line {
    padding: 1em 0;
}
.label { padding: 0 !important}
.label,
.input { color: #444 !important;width:45% !important;}
form.login_box{ padding:2em}
.radio, .checkbox {
    display: block;
    line-height: 1.5em;}
.panel { margin-top: 20px;}

/* HEADER AREA */
.top_header { position:relative;/*background: #fff;*/height: 60px;}
.top_header .logo {
    left: 26px;
    position: absolute;
    top: 26px;
}
ul.nav_set {
    position: absolute;
    right: 200px;
    top: 5px;
}
ul.nav_set li { color:#4a4a4a; display:inline-block; vertical-align:top; list-style:none;margin: 0 7px 0 0;}
ul.nav_set li a{  color: #4A4A4A;font-family:Arial, Helvetica, sans-serif;font-size: 11px;font-weight: bold !important;}

ul#tabBar {}
.zen .zen-tabMenu { background:#fff !important; margin: 0 !important;padding: 0 150px !important;}

.top_header .searchTxtbox {
	border: 1px solid #4a4a4a !important;
	left:auto !important;
	right: -10px !important;
	top: 0 !important;
	height: 23px !important;width: 160px !important;
	}
.top_header #searchComp {
   	top:5px !important;
    float: right;
    position: relative;
    width: 190px !important;
}
.search_ico {
    background:url(../images/search-ico.jpg) scroll no-repeat 0 0;
    cursor: pointer;
    left: auto !important;
    position: absolute !important;
    right: 0px !important;
    top: 3px !important;
    width: 15px;
	height: 15px;
	 }

/* HOMEPAGE AREA */
ul.board_list,
ul.board_list li { margin:10px 0;padding:0; list-style:none}
ul.board_list li ul { padding:0}
ul.board_list li ul li{ background: #FDFDFD;
    border: 1px solid #F0F0F0;
    padding: 0 20px;}
ul.board_list li ul li { padding: 5px 20px; margin: -1px 0;list-style:none; font-size:12px}
ul.infos_list,
ul.infos_list li {  padding:0; list-style:none}
ul.infos_list li {
    background:  #F7F7F7;
    margin: 1px 0 !important;
    min-height: 50px;
    padding: 15px 5px 0;
}
ul.infos_list li:hover  { background:#eee}
ul.infos_list li a { text-decoration:none}

ul.board_list .lbl_list { display:inline-block; font-size: 13px; font-weight:bold; color:#028fd7}
ul.board_list .val_list {display:inline-block;padding: 5px 20px;font-size: 10px; text-transform: uppercase; background:#eee; color:#626262}

ul.kb_art_list {  overflow:hidden; margin:15px 0 0 0; padding:0}
ul.kb_art_list li { list-style:none; text-overflow:ellipsis; overflow:hidden;padding: 10px 0;margin-left: 15px; white-space:nowrap}
.more { font-size:12px}
.subject {
	width: 70%;
	 color: #454545;
    font-size: 13px;
    font-weight: normal;}
.date {background:#FFFFFF;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
	   -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    font-size: 10px;
    height: 21px;
    padding: 4px 5px;
    text-align: center;}
.subject,
.date {
	display:inline-block;
	vertical-align:top;
	}

.kb_art_list_subject {
	color: #555555;
    font-size: 10px;
    font-weight: normal;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display: block;
    float: left;
	width: 260px !important;
	margin-right: 15px;
}
.kb_art_list_subject .date { float:right; display:block}
/* FOOTER AREA */
#footerImg small { display:block; padding:0 0 0 10px}
#footerImg {
    margin: 0 0 0 20px;
    /*bottom: 0;
    left: 20%;
    position: absolute;
    right: 20%;*/
}
.ico-home { background:url(../images/home-active.png) scroll no-repeat 0 -2px transparent !important;
/*border:1px blue solid;*/
display:block;
width:28px;
height:30px;}
.zen .zen-tabMenu .zen-active {
	background-image:none !important;

	background-color:transparent !important;
	-webkit-box-shadow:  none!important;
	-moz-box-shadow:  none!important;
	box-shadow:  none!important;
	}
.zen .zen-tabMenu  a { font-size:13px; color:#1B4674 !important;}
.zen .zen-tabMenu  a:hover,
.zen .zen-tabMenu .zen-active a { text-decoration:none;color:#028FD7 !important}
html .brandPrimaryBrd { border:0 none !important}

.container{

}
ul.apps_granted,
ul.external_links,
ul.apps_granted li,
ul.external_links li { margin:0; padding:0; list-style:none}
ul.apps_granted li,
ul.external_links li {width: 75px;vertical-align: top; text-align:center; display:inline-block}
ul.apps_granted,
ul.external_links {min-height: 30px; border-bottom:1px #eee solid}

/* NON RESPONSIVE RESET */

/*.col-lg-4 { width: 97px}
.col-lg-8 {width: 224px}*/
.required {
    color: #C90435;
    font-size: 24px;
    padding: 0 5px 0 0;
}
.form-control.disable {
    background: #eee;
    border: 0 none;
    box-shadow: 0 0 0;
    color: #AAAAAA;
    line-height: 24px;
}
.bootbox-confirm .btn-primary {
	background-color: #428BCA;
	background-image: none;
	border: 0 none !important;
	color:#fff;
	padding: 6px 10px;
    -webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
	}
.bootbox-confirm .btn-default {
    background: none repeat scroll 0 0 #DFDFDF !important;
	background-image: none;
	border: 0 none !important;
    color: #000000 !important;
    height: 29px;
	padding: 6px 10px;
    -webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}
.more { bottom: 20px;
    position: absolute;
    right: 30px;
}
