.selected {
    border-radius: 1px;
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    padding: 0.5rem; /**/
}

.inactiveNavButton{
    fill:#cccccc;
    cursor: auto;
}
.activeNavButton{
    fill:#666666;
    cursor: pointer;
}