:host {
	position: relative;
}

.slds-combobox__input, .picklist-icon {
	cursor: pointer;
}

.slds-combobox__input {
	height: 3.25rem;
    border-radius: 1px;
    padding-left: .75rem;
    border-color: #d4d4d4;
	/*font-size: inherit;*/
    font-weight: 400;
    background-color: #f7f8fa;
}

.picklist-icon {
	position: absolute;
    top: 1.25rem;
	right: 2rem;
}

.picklist-icon:before, .picklist-icon:after {
	content: '';
	position: absolute;
	left: 0px;
}

.picklist-icon_arrow-down:before {
    border-top: 6px solid #1e32fa;
    border-bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 5px;
}

.picklist-icon_arrow-down:after {
    border-top: 6px solid #fff;
    border-bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 2px;
}

.picklist-icon_arrow-up:before {
    border-bottom: 6px solid #1e32fa;
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 5px;
}

.picklist-icon_arrow-up:after {
    border-bottom: 6px solid #fff;
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 8px;
}

input[disabled] {
	cursor: not-allowed;
}

.slds-combobox_container input[role="textbox"]:not(:placeholder-shown) {
    background-color: #f7f8fa;
}

[role="combobox"] input[readonly][disabled] {
    background-color: rgb(233, 234, 236);
	border-color: rgb(196, 198, 202);
}

/*input[readonly][disabled] + .picklist-icon_arrow-up:before {
	border-bottom-color: inherit;
}

input[readonly][disabled] + .picklist-icon_arrow-down:before {
	border-top-color: inherit;
}*/

input[readonly][disabled] + .picklist-icon_arrow-up:after,
input[readonly][disabled] + .picklist-icon_arrow-down:after {
	border-top-color: #e9eaec;
}

input[readonly][disabled] + .picklist-icon_arrow-up:before,
input[readonly][disabled] + .picklist-icon_arrow-down:before {
	border-top-color: #000000;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: #D8D8D8;
	border-radius: 2px;
	width: 7px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/*background: #555;*/
}