.button {
    border: 1px solid #2ca4b2;
    background: #2ca4b2;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    border-radius: 0;

    &:hover {
        border: 1px solid #1ebec8;
        background: #1ebec8;
        text-decoration: none;
    }

    &.disabled {
        background: #ccc;
        border-color: #ccc;
        color: #333;
        cursor: default;
    }

    &.secondary {
        background: #fff;
        border-color: #23828c;
        color: #23828c;
    }

    &.wide {
        min-width: 170px;
    }

    &.close {
        font-size: 24px;
        padding: 0;
        background: transparent;
        border: 0;
        width: 20px;
        color: #777;
    }

    &.block {
        display: block;
    }

    &.dark {
        background-color: #2a3940;
        border-color: #2a3940;
    }

}


.text-link {
    border: 0;
    background: none;
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.resubscribe {
    .button {
        border-color: #0a4279;
        background: #0a4279;
        color: #fff;
        font-size: 1.4rem;
    }

}


.footer-actions {
    .button {
        padding-left: 40px;
        padding-right: 40px;
    }
}
