.data-table {
    width: 100%;

    th,
    td {
        padding: 10px;
        text-align: left;
        font-weight: $font-weight-normal;
    }
    
    td.top {
        vertical-align: top;
    }
    
    caption {
        text-align: left;
        padding-bottom: 20px;
        font-weight: $font-weight-bold;
        font-size: $font-size-larger;
    }

    p {
        margin: 0;
    }

    &.campaign {

        th,
        td {
            border-top: 1px solid #23828c;
            border-bottom: 1px solid #23828c;
        }

        .label,
        .value {
            display: block;
            text-align: center;
        }

        .action {
            text-align: right;
            
            .user-input {
                display: block;
                width: 100%;
            }
        }

        .custom-user-input.select {
            min-width: 220px;
        }


    }

    &.manage-lists {
        th {
            font-weight: bold;
            background: #fff;
        }

        td {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid #23828c;
            border-bottom: 1px solid #23828c;
        }

        .actions {
            text-align: right;
            font-weight: normal;
        }
        .preview {
            width: 90px;
        }
        td.name {
            position: relative;
            font-weight: bold;
        }

        td.type {
            font-weight: bold;
        }

        th.actions {
            padding-right: 0;
        }

        .custom-user-input.select {
            min-width: 200px;
        }

        td.date {
            color: #666;
        }

        .user-input.select {
            display: block;
            width: 100%;
        }

        .tooltip-container {
            top: 26px;
            left: 110px;
            font-weight: normal;
        }

        .ellipsis-container {
            top: 80px;
            left: 0;
        }

        td.template img {
            width: 50px;
        }
    }

    &.new-campaign {

        th,
        td {
            border-bottom: 1px dotted #ccc;
            padding: 0;
        }

        th {
            padding: 15px 10px 15px 0;
            vertical-align: top;
            width: 150px;
        }

        td {
            padding: 15px 0 15px 10px;
        }

        .label {
            display: block;
            color: #666;
        }

        .list {
            margin-left: -30px;
        }

        li {
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 10px;
        }
    }

    &.cost {
        border-top: 1px solid #23828c;
        border-bottom: 1px solid #23828c;

        th,
        td {
        }

        .item-name {
            margin: 0;
        }
    }

    td.icon {
        width: 50px;
        text-align: center;
        padding: 0;
    }

}

.table-service-details {
    margin: 20px 0;

    th,
    td {
        text-align: left;
        padding: 10px 0;
        font-weight: bold;
        vertical-align: top;
        font-size: 1.4rem;
    }

    th {
        text-align: right;
        padding-right: 20px;
        color: #666;
    }
    
    a {
        font-weight: normal;
    }
   
}

.zibra {
    tr:nth-child(odd) th,
    tr:nth-child(odd) td {
        background: #e0f1f1;
    }

    tr:last-child th,
    tr:last-child td {
        border-bottom: 1px solid #23828c;
    }
}

.summary-box {
    .zibra {
        .item-name {
            margin: 0;
        }

        .item-description {
            margin-top: 5px;
        }
    }
}

.campaign {
    tr:nth-child(even) th,
    tr:nth-child(even) td {
        background: #F5F5F5;
    }
}

.manage-lists {
    tr:nth-child(odd) {
        background: #F5F5F5;
    }

    tr.is-selected {
        td {
            background: #1dbec8;
            color: #fff !important;
        }
    }
}

.total-recipients {
    th,
    td {
        background: #e9f2f3;
    }
}

.new-balance {
    th,
    td {
        background: #65a7ae;
        color: #fff;
    }
}

.table-payment {
    font-size: 1.8rem;

    th,
    td {
        padding: 15px 20px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .item {
        th,
        td {
            padding: 43px 20px;
        }
    }

    .less-space {
        th,
        td {
            padding: 15px 20px;
        }
    }

    .title {
        th,
        td {
            padding: 15px 20px 0;
        }
    }

    .no-space {
        th,
        td {
            padding: 0 20px 15px;
        }
    }


    .total {
        th,
        td {
            background: #2a3940;
            color: #fff;
            font-size: 1.8rem;
        }
    }

    .price {
        text-align: right;
    }
}


/*------------------------------------*\
    #$saved-cards
\*------------------------------------*/

.table-saved-cards {
    border-collapse: separate;
    border-spacing: 0 10px;
    
    td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    
    td.card {
        border-left: 1px solid #ccc;
    }

    td.action {
        border-right: 1px solid #ccc;
    }

    th {
        font-weight: bold;
        vertical-align: bottom;
        white-space: nowrap;
    }
    
    .radio-box {
        margin: 0;
    }

    .radio-box:after {
        display: inline;
    }

    .input-label {
        margin-bottom: 0;
    }

    .card-image {
        display: inline-block;
        vertical-align: middle;
        float: left;
    }

    .ending-number {
        font-weight: normal;
        display: block;
    }

    .custom-user-input {
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .is-selected td {
        background: #E9F2F3;
    }
}

.table-contact-info {
    th,
    td {
        padding: 20px 0;
        border-top: 1px dashed #ccc;
        font-size: 1.5rem;
    }
    
    th {
        font-weight: 600;
        width: 28%;
        padding-right: 15px;
    }

    tr:first-child {
        th,
        td {
            border-top: 0;
        }
    }

    .field-group {
        margin: 5px 0;
    }

    .user-input,
    .disabled-user-input {
        width: 50%;
    }

    .inline {
        .input-label {
            width: 30%;

        }

        .user-input.text,
        .custom-user-input.select {
            width: 70%;
        }
    }
}

.resubscribe {
    .table-contact-info {
        border-bottom: 1px dashed #ccc;
    }
}

.table-links {
    margin-top: 15px;
 
    tr {
        border-bottom: 1px solid #ccc;
    }

    th {
        padding-left: 0;
        font-weight: 600;
    }

    td {
        text-align: right;
        font-weight: 600;
    }
}

.activity-type a {
    text-decoration: none;
}


.data-table-container {
    border: 1px solid #B4E1E5;
    padding-top: 10px;
}

.start-end-date {
    font-size: 1.4rem;
}

.table-confirmation {
    .sub-total,
    .tax {
        th,
        td {
            background: #e9f2f3;
        }
    }

    .sub-total {
        th,
        td {
            border-top: 1px solid #2a3940;
        }
    }

    th,
    td {
        border-bottom: 0;
    }

}

.charge-name {
    margin-left: 1em;
}

.item-details {
    font-size: 1.4rem;

    .fa {
        color: #2ca4b2;
    }

    .title-label {
        font-weight: bold;
    }

    .item-box {
        color: #666;
        margin-left: 16px;
    }
}