/*------------------------------------*\
    #$input-aid
\*------------------------------------*/
.input-aid {
    font-size: 1.4rem;
    border: 1px solid #ed1c24;
    background: #fbe9ea;
    padding: 12px 15px;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 300px;
    z-index: 100;
    display: none;
    -webkit-box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);
           -moz-box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);
                box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);

    &::before,
    &::after {
        content: '';
        -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ed1c24;
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        z-index: 5;
        margin: auto;
    }

    &::after {
        background: #fbe9ea;
        margin-bottom: 1px;
    }

    p {
        margin: 0;
    }
}


.error[data-placement='left'] .input-aid {
    @media #{$screen-tablet} {
        left: auto;
        right: 65%;
        bottom: auto;
        top: 0;

        &::before,
        &::after {
            top: 0;
            bottom: 0;
            right: -6px;
            left: auto;
        }

        &::after {
            margin-bottom: auto;
            margin-right: 1px;
        }
    }
}

.error[data-placement='right'] .input-aid {
    @media #{$screen-tablet} {
        left: 105%;
        right: auto;
        bottom: auto;
        top: 0;

        &::before,
        &::after {
            top: 0;
            bottom: 0;
            right: auto;
            left: -6px;
        }

        &::after {
            margin-bottom: auto;
            margin-left: 1px;
        }
    }
}


/*------------------------------------*\
    #$user-input
\*------------------------------------*/
.user-input {
        border: 1px solid #ccc;
        border-radius: 0;
        padding: 8px 12px;
        margin: 0;

    &.quantity {
        width: 50px;
        text-align: center;
    }

    &.checkbox,
    &.radio {
        margin: 3px;
        display: inline-block;
    }

    &:disabled,
    &[disabled] {
        background: #f1f1f1;
        color: #909090;

        &:hover {
            cursor: not-allowed;
        }

        ~ .input-label {
            color: #aaa;
        }
    }

    &:focus {
        -webkit-box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);
           -moz-box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);
                box-shadow: 10px 10px 20px -8px rgba(10, 66, 121, .7);
    }

    &.promotion-code {
        width: 80px;
    }
}
/*------------------------------------*\
    #$field-group
\*------------------------------------*/
.field-group {
    margin: 15px 0;
    position: relative;
    line-height: 1.2;

    .user-input.text,
    .user-input.select,
    .user-input.textarea,
    .custom-user-input.select {
        display: block;
        width: 100%;
    }

    &.output {
        .input-label,
        .output-value {
            display: block;
        }
    }

    &.make-default-address {
        margin-bottom: 0;
    }
}

.radio-box,
.checkbox-box {
    margin: 5px 0;
    display: inline-block;
    width: 100%;

    .custom-user-input {
        float: left;
    }

    .input-label {
        float: left;
        margin-top: -1.3em;
        margin-left: 30px;
        width: 100%;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.inline.radio,
.inline.checkbox {
    margin-left: -30px;
}


.inline {

    &.radio,
    &.checkbox {
        margin-left: -30px;
    }

    .radio-box,
    .checkbox-box {
        vertical-align: top;
        margin-left: 30px;
        width: auto;

        @media #{$screen-tablet} {
        }
    }

    &.text,
    &.textarea {
        .input-description {
            margin-left: 40%;
        }
    }

    &.text,
    &.textarea,
    &.select {
        font-size: 0;

        .input-label {
            width: 40%;
            padding-right: 20px;
        }
    }

    &.text .input-label,
    &.textarea .input-label,
    &.select .input-label,
    .user-input.text,
    .user-input.textarea,
    .custom-user-input.select {
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .user-input.text,
    .user-input.textarea,
    .custom-user-input.select {
        width: 60%;
    }
}


.default {
    .input-label {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    .user-input {
        &.text,
        &.textarea {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
    }

    .custom-user-input.select {
        display: inline-block;
        width: auto;
    }
}

.output.inline {
    font-size: 0;

    .input-label,
    .output-value {
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .input-label {
        width: 40%;
    }

    .output-value {
        width: 60%;
    }
}

.with-tooltip .input-label {
    width: auto;
    margin: 0 0 0 5px;
}

/*------------------------------------*\
    #$input-label
\*------------------------------------*/
.input-label {
    font-weight: bold;
    display: inline-block;
    margin: .5em 0;
}

.text-top,
.field-group .input-label.text-top {
    vertical-align: top;
}

/*------------------------------------*\
    #$custom-user-input
\*------------------------------------*/
.custom-checkbox,
.custom-radio {
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}


.custom-radio {
    border-radius: 50%;

    .icon {
        width: 10px;
        height: 10px;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
    }
}

.radio:checked ~ .custom-radio .icon {
    background: #333;
}

.custom-checkbox {

    .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;


        &::before {
            font-size: 14px;
            font-family: 'FontAwesome';
            color: #fff;
            content: '\f00c';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 2px;
        }
    }
}

.checkbox:checked ~ .custom-checkbox {
    background: #55bbd4;
}

.template-list .checkbox:checked ~ .custom-checkbox,
.plan-list .checkbox:checked ~ .custom-checkbox,
.package-list .checkbox:checked ~ .custom-checkbox {
    background: #fff;

    .icon::before {
        color: #000;
    }
}

.custom-user-input {
    display: inline-block;
    background: transparent;
    position: relative;

    &.select {
        background: #fff;
    }

    &.select .icon {
        color: #fff;
        font-size: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 40px;
        text-align: center;
        background: #23828c;

        &::before {
            padding: 0;
            height: 37px;
            line-height: 37px;
            display: block;
        }
    }

    &.checkbox,
    &.radio {
        margin-right: 5px;
        vertical-align: middle;
        float: left;

        .user-input {
            visibility: hidden;
        }

    }

    .user-input.select {
        position: relative;
        z-index: 15;
        padding-right: 60px;
        background: transparent;
        border-radius: 0;
        border: 1px solid #23828c;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }

    &.dark {

        .icon {
            background: #2a3940;
        }

        .user-input.select {
            border: 1px solid #2a3940;
        }
    }

    .user-input::-ms-expand {
        display: none;
    }
}



.disabled {
    .input-label {
        color: #aaa;
    }

    .custom-radio:hover,
    .custom-checkbox:hover {
        cursor: not-allowed;
    }

    .custom-checkbox {
        border-color: $border-color;
        background: #f1f1f1;

        .icon::before {
            color: #909090;
        }
    }
    
    .custom-radio .icon,
    .custom-radio {
        background: #f1f1f1;
    }
    .custom-checkbox .icon::before {
        color: #f1f1f1;
    }
}

.package-list .disabled {
    .custom-checkbox {
        .icon::before {
            color: #f1f1f1;
        }
    }

    .disabled-user-input {
        min-width: auto;
        padding: 8px;
    }
}

/*------------------------------------*\
    #$others
\*------------------------------------*/

.sort-by {
    margin: 30px 0 10px;

    /*@media #{$screen-desktop} {
        margin-top: 0;
    }*/

    .input-label {
        padding-right: 10px;
    }
}

.form-address {
    margin-bottom: 20px;
}

.form {
    padding: 0;
}

.input-remaining {
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;

    &.error {
        color: #d02d2d;
    }
}

.optional {
    font-weight: normal;
    display: block;
    font-weight: 1.4rem;
    color: #888;
}

.input-description {
    font-size: 1.4rem;
    color: #555;
}

.error.is-focus {
    .input-aid {
        display: block;
    }
}

.field-group.error {
    .user-input {
        border-color: #ed1c24;
        background: #fbe9ea;
    }

    .custom-user-input {
        background: #fbe9ea;

        .user-input {
            background: transparent;
        }
    }

    .custom-checkbox {
        border-color: #ed1c24;
    }
}

.data-table .field-group {
    margin: 0;
}

.data-table.campaign .custom-user-input {

    &.select .icon {
        background: #2a3940;
    }

    .user-input.select {
        border-color: #2a3940;
    }
}

.disabled .custom-user-input.select .icon {
    background: #aaa;

    &:hover {
        cursor: not-allowed;
    }
}

.disabled .custom-user-input.select .icon::before {
    margin-top: 1px;
}

.disabled-user-input {
    display: block;
    padding: 8px 50px 8px 12px;
    min-width: 80px;

    &:hover {
        cursor: not-allowed;
    }
    
    &.text {
        min-height: 38px;
        border: 1px solid #ccc;
        background: #f1f1f1;
    }

    &.textarea {
        min-height: 70px;
        border: 1px solid #ccc;
        background: #f1f1f1;
    }
    

    &.select {
        min-height: 38px;
        /*background: #f1f1f1;*/
        text-align: left;
        border: 1px solid #ccc;
        color: #aaa;
    }

    &.radio {
        min-height: 22px;
    }

    &.checkbox {
        min-height: 22px;
    }
}

.inline {
    .disabled-user-input {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
    }
}

.default {
    .disabled-user-input {
        display: inline-block;
        min-width: 20%;
        vertical-align: middle;
    }
}

.multi-select {
    .user-input,
    .multi-select-list {
        display: none;
        position: absolute;
        right: 0;
        margin-top: 10px;

        &.is-open {
            display: block;
        }
    }

    .multi-select-list {
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px 30px 10px 10px;
        max-height: 7em;
        overflow-y: auto;
    }

    .input-label {
        margin: 0;
        font-weight: normal;
        cursor: pointer;
    }

    .fa {
        margin-left: 5px;
    }
}
.multi-select-list {
    .list {
        float: left;
    }

    li {
        cursor: pointer;
        margin: 0;
        padding: 3px 5px;
        white-space: nowrap;

        &:hover {
            background: #2ca4b1;
            color: #fff;
        }
    }

    .is-selected {
        background: #2ca4b1;
        color: #fff;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.custom-user-input.file {
    margin-bottom: 15px;
    width: 100%;

    .button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
        cursor: pointer;
    }

    .file {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
        width: 100%;
        visibility: hidden;
    }

    .text {
        min-height: 41px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
}

.file-disabled:disabled, 
.file-disabled[disabled] {
    cursor: default !important;
    background: #fff !important;
    color: #111 !important;
}

.errorMsg {
    color: #ed1c24;
    margin: 10px 0;

}

.field-group.disabled.inline {
    display: inline-block;

    &.select {
        display: block;

        .disabled-user-input {
            width: 100%;
        }
    }
}

.field-group.disabled.inline {
    display: inline-block;

    &.textarea {
        display: block;

        .disabled-user-input {
            width: 60%;
        }
    }
}

.disabled .datepicker::before {
    color: #999;
    cursor: not-allowed;
}

tr.is-selected ,
.checkbox-light {
    .input-label {
        font-weight: 400;
        margin-bottom: 0;
    }
    .checkbox:checked ~ .custom-checkbox {
        background: #fff;

        .icon::before {
            color: #000;
        }
    }
}
