.row {
    font-size: 0;
    margin: 0 -15px;
}

.columns {
    font-size: $font-size-base;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}

.small-4 {
    width: 33.333333%;
}

.small-6 {
    width: 50%;
}

.small-8 {
    width: 66.6666666667%
}

.small-10 {
    width: 83%;
}

.small-12 {
    width: 100%;
}

@media #{$screen-tablet} {
    .medium-4 {
        width: 33.333333%;
    }
    
    .medium-5 {
        width: 42%;
    }

    .medium-6 {
        width: 50%;
    }

    .medium-7 {
        width: 58%;
    }

    .medium-8 {
        width: 66.6666666667%
    }

    .medium-10 {
        width: 83%;
    }

    .medium-12 {
        width: 100%;
    }
}


@media #{$screen-desktop} {
    .large-4 {
        width: 33.333333%;
    }

    .large-5 {
        width: 42%;
    }

    .large-7 {
        width: 58%;
    }

    .large-8 {
        width: 66.6666666667%
    }
}
