.nav.tabs {
    border-bottom: 1px solid #1ebec8;
    margin: 10px 0;
    font-size: 1.6rem;

    li {
        display: inline-block;
        padding: 0 0 5px;
        margin-right: 40px;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }

    .active {
        border-bottom: 7px solid #1ebec8;

        a {
            cursor: default;
        }
    }

    &.secondary {
        border-bottom: 0;
        font-size: 1.4rem;
        
        li {
            margin-right: 0;
        }

        a {
            background: #e9f2f3;
            display: block;
            color: #308993;
            padding: 5px 10px;
        }
        .active {
            border-bottom: 0;

            a {
                background: #23828c;
                color: #fff;
            }
        }

    }

}

.tab-pane {
    display: none;

    &.is-open {
        display: block;
    }
}

.page-title .tab-pane {

    &.is-open {
        display: inline-block;
    }
}
