.companyIconBox {
    border: 2px solid grey;
    height: 100%;
    width: 100%;
    min-height: 80px;
    min-width: 80px;
    line-height: 80px;
    text-align: center;
}

.padding {
    padding: 0px 2px;
}

.title {
    font-size: 1.4rem;
}