.THIS.coreRelationshipWithIATATableClass> * table tbody tr:last-child *{
    font-weight: bold;
}
.THIS.coreRelationshipWithIATATableClass> * table thead * {
   display: none;
}
.THIS.coreRelationshipWithIATATableClass .slds-table_header-fixed_container.slds-scrollable_x{
    padding-top: 0;
}
.THIS lightning-primitive-header-actions {
    display: none;
}

