.searchBarRow {
  display: flex;
  width: 100%;
}

.searchBarRow lightning-button {
  border-color: transparent;
  background-color: transparent;
}

.searchBarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarBarContainer {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.emptyGrayAreaSize {
  height: 50px;
}

.searchBarPosition {
  position: relative;
  margin-top: -29px;
}

.smallSearchSpinner {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  vertical-align: middle;
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.rotateIcon {
  transform: rotate(45deg);
}

.marginTop {
  margin-top: 3px;
}
