.align-right {
    text-align: right;
}

a {
    color: inherit;
    font-weight: 500;
}

.around-border {
    border: solid 1px;
    border-color: #ececec;
}


@media (max-width: 479px){
    .middle-div{
        padding: 0px 10px;
    }
}