.mainSearchClass label{
    display: none !important;
}

.addStationContainer{
    display: flex;
    align-items: end; 
}

.addStationInput{
    width: 50%;
    margin-right: 10px;
}

.max_height_class{
    max-height: 50vh;
}

.alignSearchStationsButton{
    padding-top: .500rem;
}

.selectStationSave{
    padding-right: 10px;
}