.THIS .bckColor{
    background: inherit !important;
}
.THIS .pagination-btn {
    width: 100px;
}

.THIS .pagination-info input {
    text-align: center;
}

.THIS .selected{
    color:orange;
}