# Compiled source #
#src/codePackage.xml
#src/objectPackage.xml


src/staticresources/BootstrapCSS.resource-meta.xml
src/staticresources/EcommerceAssets.resource-meta.xml
src/staticresources/Highcharts.resource-meta.xml
src/staticresources/IDCard_Styles.resource-meta.xml
src/staticresources/IECBannerHome.resource-meta.xml
src/staticresources/IECStyles.resource-meta.xml
src/staticresources/IEC_Portal.resource-meta.xml
src/staticresources/IEC_airplane_hanger.resource-meta.xml
src/staticresources/IEC_carrousel01.resource-meta.xml
src/staticresources/IEC_carrousel02.resource-meta.xml
src/staticresources/IEC_carrousel03.resource-meta.xml
src/staticresources/IEC_windows.resource-meta.xml
src/staticresources/IIS_Portal.resource-meta.xml
src/staticresources/Mosaico.resource-meta.xml
src/staticresources/SLDS102.resource-meta.xml
src/staticresources/SLDS103.resource-meta.xml
src/staticresources/YUI.resource-meta.xml
src/staticresources/eBroadcastAssets.resource-meta.xml
src/staticresources/IECStyles.resource
src/staticresources/SLDS103.resource
src/staticresources/SLDS102.resource
src/staticresources/YUI.resource
src/staticresources/Mosaico.resource
src/staticresources/IEC_Portal.resource
src/staticresources/IIS_Portal.resource
src/staticresources/IECBannerHome.resource
src/staticresources/Highcharts.resource
src/staticresources/IEC_carrousel02.resource
src/staticresources/BootstrapCSS.resource
src/staticresources/IDCard_Styles.resource
src/staticresources/EcommerceAssets.resource
src/staticresources/IEC_airplane_hanger.resource
src/staticresources/IEC_carrousel03.resource
src/staticresources/IEC_windows.resource
src/staticresources/IEC_carrousel01.resource
src/staticresources/eBroadcastAssets.resource
src/applications/standard__Platform.app
src/applications/standard__LightningSalesConsole.app
src/applications/standard__LightningService.app


.project
integration/mosaico
Referenced Packages/
.settings/com.salesforce.ide.core.prefs
salesforce.schema
src/workflows/SocialPersona.workflow
src/workflows/SocialPost.workflow
src/layouts/EmailMessage-Email Message Layout.layout
src/applications/standard__DataAssessment.app
src/applications/standard__LightningSales.app
src/applications/standard__LightningInstrumentation.app
src/queues/CasesAmericasemails.queue
src/queues/E_F_Airline_Services.queue
src/queues/E_F_Client_Services.queue
src/queues/E_F_Data_Transformation.queue
src/queues/E_F_Invoice_and_accounting.queue
src/queues/Local_Office_New_Zealand.queue
src/queues/ICH_Help_Desk_ICH_Finance.queue
src/queues/ICH_Help_Desk_ICH_General.queue
src/queues/ICH_Help_Desk_ICH_Membership.queue
src/queues/ICH_Help_Desk_ICH_Operations.queue
src/queues/CasesRS.queue
src/queues/DistributionAirlineManagementHOI.queue
src/queues/SISCustomerSupportA.queue
src/queues/CasesRS.queue
src/queues/ICH_Help_Desk_ICH_Finance.queue
src/queues/ICH_Help_Desk_ICH_General.queue
src/queues/ICH_Help_Desk_ICH_Membership.queue
src/queues/ICH_Help_Desk_ICH_Operations.queue
src/queues/Cases_Emirates.queue
src/queues/PCI_Cases_GDC_SIN.queue
src/queues/RecycleBinAfricaMiddleEast.queue
src/queues/Asia_Pacific_PwC.queue
src/queues/CasesACCEuropeOffOnshore.queue
src/queues/CasesACCEuropeProducts.queue
src/queues/CasesACCEuropeRisk.queue
src/queues/CasesAirlinesSCE.queue
src/queues/CasesInvoicingCIS.queue
src/queues/OtherAll.queue
src/queues/AGM_Internal.queue
src/queues/Cases_Agent_Financial_Review.queue
src/queues/Cases_CNS.queue
src/queues/Communications_Web_uploads_Americas.queue
src/queues/CustomerServiceAmericas.queue
src/queues/EF.queue
src/queues/RecycleBinAmericas.queue
src/queues/RecycleBinAsiaPacific.queue
src/queues/RecycleBinEurope.queue
src/queues/RecycleBinOperationalManagementHO.queue
src/queues/RecyclebinNorthAsia.queue
src/queues/AGM_Internal.queue
src/queues/CasesBolivia.queue
src/queues/CasesBrazil.queue
src/queues/CasesCanada.queue
src/queues/CasesCentralAmerica.queue
src/queues/CasesChile.queue
src/queues/CasesColombia.queue
src/queues/CasesEasternCaribbean.queue
src/queues/CasesEcuador.queue
src/queues/CasesMexico.queue
src/queues/CasesPeru.queue
src/queues/CasesUnitedStates.queue
src/queues/CasesVenezuela.queue
src/queues/CasesWesternCaribbean.queue
src/queues/Cases_Agent_Financial_Review.queue
src/queues/Cases_Americas_Airlines.queue
src/queues/AgencyManagementChinaNAsia.queue
src/queues/CustomerServiceChinaNAsia.queue
src/queues/Weblinkheadoffice.queue


src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_com.md
src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_fr.md
src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_gq.md
src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_net.md
src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_pp_ua.md
src/customMetadata/Fobidden_Disposal_Email_Domain.yopmail_usa_cc.md

src/quickActions/GuestCommunityCase.quickAction
src/quickActions/NewCommunityCase.quickAction


src/layouts/EntityMilestone-Object Milestone Layout.layout
src/layouts/ListEmail-List Email Layout.layout

*.sublime-project
*.sublime-settings
*.sublime-workspace
salesforce.schema
config
*.bak
build/SfApexDocs
SfApexDocLog.txt
.project
Referenced Packages/
.settings/com.salesforce.ide.core.prefs
salesforce.schema
src/objects/idea.object
src/package.xml
*.sublime-project
*.sublime-settings
*.sublime-workspace
salesforce.schema
config
*.bak
build/SfApexDocs
SfApexDocLog.txt
config/*
out
config/*
README.md
uncrustify.cfg
force.json
.forceignore
sfdx-project.json
.forceCode/
.sfdx/
.vscode/
src/lwc/jsconfig.json
