BITBUCKET_USERNAME=ccpcatarino
BITBUCKET_PASSWORD=Thisisnotagame321B
REMOVE_TEMP=true
COPY_FILES=true
API_VERSION="47.0"
FOLDER_LIST="aura dashboards documents email reports"
PROJECT=iatasfdc
files=files.diff
GENERATE_PACKAGE_FILE=true
EXTENSION_TO_COMPARE="-meta.xml"
REPOSITORY=production-master
declare -A mapFolderMetadata
mapFolderMetadata[staticresources]="StaticResource"fGENERATE_PACKAGE_FILE=true
mapFolderMetadata[globalValueSets]="GlobalValueSet"
mapFolderMetadata[labels]="CustomLabel"
mapFolderMetadata[documents]="Document"
#Objects Package metadata
mapFolderMetadata[standardValueSets]="StandardValueSet"
mapFolderMetadata[email]="EmailTemplate"
mapFolderMetadata[workflows]="Workflow"
mapFolderMetadata[flows]="Flow"
mapFolderMetadata[flowDefinitions]="FlowDefinition"
mapFolderMetadata[objects]="CustomObject"
#code Package metadata
mapFolderMetadata[classes]="ApexClass"
mapFolderMetadata[components]="ApexComponent"
mapFolderMetadata[pages]="ApexPage"
mapFolderMetadata[triggers]="ApexTrigger"
mapFolderMetadata[aura]="AuraDefinitionBundle"
mapFolderMetadata[lwc]="LightningComponentBundle"
#layouts Package metadata
mapFolderMetadata[applications]="CustomApplication"
mapFolderMetadata[customPermissions]="CustomPermission"
mapFolderMetadata[tabs]="CustomTab"
mapFolderMetadata[layouts]="Layout"
mapFolderMetadata[approvalProcesses]="ApprovalProcess"
mapFolderMetadata[customMetadata]="CustomMetadata"
mapFolderMetadata[permissionsets]="PermissionSet"
mapFolderMetadata[dashboards]="Dashboard"
mapFolderMetadata[reports]="Report"
mapFolderMetadata[reportTypes]="ReportType"
mapFolderMetadata[sharingRules]="SharingCriteriaRule"
mapFolderMetadata[translations]="Translations"
