.manage-account {
    .plan-list {
        .input-label {
            font-size: 1.4rem;
            margin-top: -1.4em;
        }
    }

    .billed-annually,
    .currency-per-year {
            font-size: 1.3rem;
    }

    .check-circle-list {
        li {
            font-size: 1.3rem;
            margin: .5em 0;
        }
    }
}