:host {
  position: absolute;
}

.fade-in {
    -webkit-animation: fadeInAnimation 1s !important;
    -moz-animation: fadeInAnimation 1s !important;
    -o-animation: fadeInAnimation 1s !important;
    animation: fadeInAnimation 1s !important;
  }
  
  .open-top-to-bottom {
    -webkit-animation: toToBottomAnimation 0.5s !important;
    -moz-animation: toToBottomAnimation 0.5s !important;
    -o-animation: toToBottomAnimation 0.5s !important;
    animation: toToBottomAnimation 0.5s !important;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes toToBottomAnimation {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @-o-keyframes toToBottomAnimation {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @-moz-keyframes toToBottomAnimation {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @-webkit-keyframes toToBottomAnimation {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  .modalRadius {
    border-radius: 4px;
  }
  
  .iconPosition {
    position: relative;
    overflow: visible;
  }
  
  .widthSmall {
    width: 25%;
  }
  
  .oss-modal-button_home {
    position: relative !important;
    top: unset;
    left: 0;
    float: left;
    width: 2rem;
    height: 2rem;
  }
  
  button.slds-modal__close {
    position: relative !important;
    top: unset;
    right: 0;
    float: right;
  }
  
  .oss-modal_neutral .slds-modal__header {
    background-color: #1e32fa;
    color: #ffffff;
  }
  
  .oss-modal_straight-corners header,
  .oss-modal_straight-corners > div.slds-modal__content,
  .oss-modal_straight-corners footer {
    border-radius: 0;
  }
  
  @media (min-width: 48em) {
    .slds-modal__container,
    .slds-modal_small > .slds-modal__container {
      margin: 0 auto;
      width: 50%;
      max-width: 40rem;
      min-width: 20rem;
    }
  }
  
  @media (min-width: 48em) {
    .slds-modal_large > .slds-modal__container,
    .slds-modal--large > .slds-modal__container {
      width: 90%;
      max-width: none;
      min-width: 40rem;
    }
  }
  
  @media (min-width: 48em) {
    .slds-modal_medium > .slds-modal__container {
      width: 70%;
      max-width: 75rem;
      min-width: 40rem;
    }
  }
  
  /* ICON */
  .iconContainer {
    border-radius: 50%;
    background-color: white;
    padding: 10px;
  }
  
  .innerCircle {
    border-radius: 50%;
    padding: 10px;
  }
  
  .outerCircle {
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: -44px;
  }
  
  .innerCircleSuccess {
    background-color: #7fc184;
  }
  
  .outerCircleSuccess {
    background-color: #bedfc0;
  }
  
  .innerCircleWarning {
    background-color: #fac643;
  }
  
  .outerCircleWarning {
    background-color: #ffedbe;
  }
  
  .innerCircleError {
    background-color: #ed4539;
  }
  
  .outerCircleError {
    background-color: rgb(250, 151, 151);
  }
  
  .backGroundGray {
    background-color: #f7f8fa;
    position: relative;
  }
  
  .closePosition {
    position: absolute;
    right: 5px;
    top: -40px;
  }