.THIS .IATA_UlLi {
    list-style-image: url('/resource/GADM_Portal/img/icon-bullet-point.svg');
    margin: 10px 20px;
}

.THIS .IATA_UlLi li{
    margin: 10px;
}

.THIS.body_container {
    padding: 20px 20px;
    min-height:300px;
}

.THIS .back_button {
    padding-bottom: 1.0rem;
}
.THIS .noCategories p {
   text-align: center;
   font-family: AktivGrotesk-Regular;
   font-size: 15px;
   line-height: 22px;
   color: black;
}

.THIS img {
    border: solid 10px transparent;
}

.THIS img:hover {
    border-color: #E6E6E6;
    cursor:pointer;
}

.THIS .no_image {
    border: 10px solid white;
    text-align: center;
    height:202px;
    line-height:182px;
    background-color:#F2F2F2;
}

.THIS .no_image:hover {
    border-color: #E6E6E6;
    cursor:pointer;
}