.slds-has-error input{
    border-radius: 4px !important;
    border: solid 2px rgba(240, 70, 50, 0.8) !important;
    box-shadow: none !important;
    background-color: #ffffff;
}

.slds-has-error .slds-form-element__help{
    color: #f05948 !important;
    font-size: 14px;
    line-height: 1.14;
}

.inputBackgroundGrey{
    border-radius: 2px !important;
    background-color: #f7f8fa !important;
}
.slds-spinner_container{
    position : inherit;
}

.hideDiv{
    display : none;
}

.slds-spinner_container {
    position: fixed;
}

.showPasswordButton{
    margin-top: -10px;
    width: 30px;
    height: 20px;
    box-shadow: none;
}

.showPasswordIcon{
    width: 20px;
    height: 20px;
}

.showPasswordIconDisabled{
    opacity:0.5;
}

.checked {
    color: #228B22;
}

.checkCircle label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
    z-index: 1;

    box-shadow:inset 0px 1px 4px rgba(0,0,0,0.5);
}

.checkCircle input[type=checkbox]:checked + label {
    background: #228B22;
}