:host {
	position: relative;
	width: 100%;
}

.caseMessagesSelfBubbleContainer, .caseMessagesOtherBubbleContainer {
    /* max-width: 60%; */
    min-width: 30%;
}

.caseMessagesSelfBubbleContainer {
    align-self: flex-end;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.caseMessagesOtherBubbleContainer {
    align-self: flex-start; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.caseMessagesSelfBubble, .caseMessagesOtherBubble {
    position: relative;   
}

.breakWord{
    word-break: break-word;
}

.collapsed{
    visibility: collapse;
    display: none;
}