.slds-modal__header {
    position: relative;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    padding: 1.5rem 0px 0px 1.5rem;
    border-bottom: none;
    margin-bottom: -20px;
}

.slds-modal__header_empty, .slds-modal__header--empty {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 0px;
}

.backdrop-noBackGround{
    background: rgba(126, 140, 153, 0.1);
}