.THIS.slds-card {
    padding: 0 !important;
    border-radius: 0.25rem !important;
    background-clip: padding-box !important;
    background-color: #f4f6f9 !important;
    border: 1px solid #d8dde6 !important;
}

.THIS.slds-card__body {
    padding: 8px !important;
    margin: 8px !important;
}

.THIS span.slds-text-heading_small {
    color: rgb(0, 109, 204);
}