/**
 * Created by ukaya01 on 09/08/2019.
 */

.headerTitle {
  width: 368px;
  height: 80px;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1e32fa;
}

.infoText {
  width: 368px;
  height: 78px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #333333;
}

.rectangle {
  width: 368px;
  /*height: 454px;*/
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 91%, 91% 100%, 0% 100%, 0% 0%, 0% 0%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 91%, 91% 100%, 0% 100%, 0% 0%, 0% 0%);
}

.bounds {
  width: 336px;
  /*height: 88px;*/
  object-fit: contain;
  border-radius: 1px;
  padding: 16px;
}

.faqContainer{
    width: 336px;
    /*height: 88px;*/
    object-fit: contain;
    border-radius: 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.service {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.cardItemTitle {
  width: 272px;
  height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}

.description {
  width: 272px;
  /*height: 40px;*/
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #525252;
}

.link {
  width: 66px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #3333ff;
  cursor: pointer;
}

.contentContainer {
    width: 528px;
    padding:70px;
}

.faqPointer {
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}