/**
 * Created by pvavruska on 8/7/2019.
 */

 .modal{
    font-family: DaMaWebFont;
}

.maxWidth{
    width: 100%;
}


.inputLineHeight{
    line-height: 45px;
}


.fontBold{
    font-weight: bold;
}

.loginTitle{
    margin-top: -10px;
}

.loginLabel{
    font-size: 12px;
    border-radius: 0.1rem;
}

.loginUrlHighlight{
    width: 100%;
    font-weight: 500;
    color: #3333ff;
}

.loginSeparator {
    border-bottom-style: solid;
    color: #d3d3d352;
    margin-bottom: 15px;
}

.textAlignCenter {
    text-align: center;
}

.textAlignEnd {
    text-align: end;
}

.marginBottomGeneral {
    margin-bottom: 20px;
}

.showPasswordButton{
    margin-top: -10px;
    width: 30px;
    height: 20px;
    box-shadow: none;
}

.showPasswordIcon{
    width: 20px;
    height: 20px;
}

.showPasswordIconDisabled{
    opacity:0.5;
}

.inputBackgroundGrey{
    background-color: #f7f8fa !important;
}

.font-small{
    font-size: 18px !important;
}

/*
.slds-spinner_container{
    position : inherit;
}
*/


.formElementSpacer{
    padding-bottom:40px;
}

.inputBackgroundGrey{
    background-color: #f7f8fa !important;
}

.hidden{
    visibility : hidden;
}

.leftItem{
    padding-right: 7px;
}

.rightItem{
    padding-left: 7px;
}

.link_normal {
    width: 336px;
    height: 56px;
}


.-Title {
    width: 304px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #3333ff;
  }
  
  .dataLabel {
    width: 328px;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #999999;
  }

  .dataValue {
    width: 328px;
    height: 26px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #525252;
  }

  .sectionTitle {
    width: 624px;
    height: 32px;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #333333;
  }

  .sectionSubTitle {
    width: 624px;
    height: 32px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #333333;
  }

  .sectionDescription {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4a4d61;
  }

.backButtonWrapper{
    display: flex;
    align-items: center;
}

.containedButton{
    box-shadow: none !important;
}

.customBtn .slds-button:disabled{
    box-shadow: none;
}