/**
 * Created by ukaya01 on 29/07/2019.
 */

/*
.slds-has-error input{
    border-radius: 1px !important;
    border: solid 2px rgba(240, 70, 50, 0.8) !important;
    box-shadow: none !important;
}

.slds-has-error .slds-form-element__help{
    color: #f04632 !important;
    font-size: 14px !important;
}

.slds-has-error .slds-form-element__help div{
    color: #f04632 !important;
}
*/

.inputBackgroundGrey{
    background-color: #f7f8fa !important;
}

.slds-combobox_container input[role="textbox"]:not(:placeholder-shown) {
    background-color: #f7f8fa;
}
/*
input.slds-input:not(:placeholder-shown){
    background-color: #f7f8fa;
}
*/

.c-portallogincontainer_portallogincontainer{
    height: 2000px !important;
}

.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alertIcon{
    margin-top: -64px;
    width: 96px;
    height: 96px;
}

.alertDiv{
    /*
  width: 576px;
  height: 240px;
  */
  max-width: 448px;
  max-height: 662px;
  background-color: #ffffff;
}

.slds-spinner_container{
    position: fixed;
}

.formElementContainer{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height : 40px;
}

.formLabelContainer{
    /*display: flex;*/
    flex: 1 0 auto;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.formElementSpacer{
    padding-bottom:40px;
}

/*alert css begin*/
.overlap-top-center {
    position: relative;
    top: -50px;
    z-index: 1;
}

.dot-lightgreen {
    height: 96px;
    width: 96px;
    background-color: rgba(250, 200, 50, 0.4);
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    height: 80px;
    width: 80px;
    background-color: rgba(250, 200, 50, 0.8);
    border-radius: 50%;
    display: inline-block;
    left: 8px;
    top: 8px;
}

.dot-white {
    height: 96px;
    width: 96px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot-white-small {
    height: 56px;
    width: 56px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot-white-small.dot-allign {
    left: 12px;
    top: 12px;
    position: absolute;
}

.dot-allign {
    left: 8px;
    top: 8px;
    position: absolute;
}
/*alert css end*/