.formcontainer {
    padding: 20px 30px;
    border: 1px solid blue;
}

.breadlink{
    cursor: pointer;
    color: blue;
}

th, td {
    text-align:left;
}


.flag {
    margin-right:5px;
}
.yellowbanner {
    background-color: rgb(250, 200, 50);
    padding:10px !important;
}

.summarybox {
    background-color: #F2F2F2;
    padding:20px;
    margin:0px;
}

.formmessage{
    font-weight: 900;
    background-color: rgb(250, 200, 50);
    padding: 5px;
}

table {
    border-bottom: 1px solid #E6E6E6;
}

.middle {
    margin:auto
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.separatorbelow{
    border-bottom: 1px solid black;
}
.summarydatadiv{
    padding: 5px 0px;
}
.minwidthbutton{
    min-width:120px;
}
.warning {
    color: #F0422E;
    font-weight: 600;
}
.exclamationmark {
    color: #F0422E;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0px 8px;
    border: 1px solid #F0422E;
}
.breaklinewithmargin{
    display: block;
    margin: 5px 0;
    content: " ";
}
.createfacilitylink{
    color: blue !important;
}
.hqname{
    color: white;
    font-weight: 900;
    background: blue;
    padding: 2.5px;
}
.popover-custom {
    position:fixed;
    font-size: 0.9em;
    /*width: max-content;*/
    width:25%;
}

.form-control {
    color:black !important;
}

.mid-size-text{
    font-size:14px;
}
.headline-text{
    font-size:24px;
    margin-right:5px;
    font-weight:900
}
.stationhover{
    min-width:40px;
    max-width: 40px;
}

.btn-primary:after {
    border-width: 0 0 12px 12px;
}

.btn-primary-blue:after {
    border-width: 0 0 12px 12px;
}

.btn{
    min-height: 29px !important;
}

.custTextInputSmall input{
    font-size: 18px;
    height: 52px;
}

.text-xxsmall {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
}
.slds-form-element{
    margin-bottom: 1rem;
}

.slds-pill{
    background-color: #1e32fa;
    color: #fff;
    font-size: .8rem;
    align-items: inherit;
}

.advice-ms{
    font-size: smaller;
}

.label-remove-logo {
	cursor: pointer;
	color: #f04632;
	font-weight: 700;
}