.portalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #fff;
    margin-top: 120px;
    padding-bottom: 30px;
    flex-direction: column;
}

.portalFooter .mission {
    max-width: 430px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.45;
    text-align: center;
    margin-top: 64px;
}

.portalFooter .iataLogo {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.portalFooter .iataPages2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.portalFooter .iataPages2>div {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}
.portalFooter .iataPages2>div:last-child {
    border-right: 0;
}

.portalFooter .iataPages2>div a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 500;
}

.portalFooter .iataSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 200px;
}

.portalFooter .iataSocial>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    cursor: pointer;
}

.portalFooter .iataSocial>div.youtube{
    margin-top: 32px;
}

.portalFooter .langSelect {
    width: 120px;
    position: relative;
    margin-top: 30px;
}

.opacityHigh{
    opacity: .77;
}
.opacityMedium{
    opacity: .95;
}