.THIS .right-align {
    text-align: right;
}

.THIS .img-size {
    width: 50%;
    
}

.THIS.exampleHolder{ 
    position: relative;
    height: 200px;
}


.THIS.exampleHolderOld{ 
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.THIS .page-header {
    background: #ccc;
}