.THIS .slds-path__nav{
    margin-right:10%;
}

.THIS .slds-path__item{
    min-width: 10%; 
    max-width: 100%;  
}
@media only screen and (max-width: 1220px)  {
    .THIS .slds-path__nav{ font-size: 10px; }
}


.THIS .path-item-status-fix {
    cursor: default;
}
.THIS .path-item-fix {
    color: #ffffff;
    cursor: default;
}
.THIS .slds-path__nav .iata-status-completed {
    background-color: #04844b;
}
.THIS .slds-path__nav .iata-status-completed::before {
    background-color: #04844b;
}
.THIS .slds-path__nav .iata-status-completed::after {
    background-color: #04844b;
}

.THIS .slds-path__nav .iata-status-fail {
    background-color: #a61a14;
}
.THIS .slds-path__nav .iata-status-fail::before {
    background-color: #a61a14;
}
.THIS .slds-path__nav .iata-status-fail::after {
    background-color: #a61a14;
}

.THIS .slds-path__nav .iata-status-progressing {
    background-color: #16325c;
}
.THIS .slds-path__nav .iata-status-progressing::before {
    background-color: #16325c;
}
.THIS .slds-path__nav .iata-status-progressing::after {
    background-color: #16325c;
}

.THIS .slds-path__nav .iata-status-pending-customer {
    background-color: #ff9a3c;
}
.THIS .slds-path__nav .iata-status-pending-customer::before {
    background-color: #ff9a3c;
}
.THIS .slds-path__nav .iata-status-pending-customer::after {
    background-color: #ff9a3c;
}

.THIS .slds-path__nav .iata-status-incomplete {
    background-color: #b0adab;
}
.THIS .slds-path__nav .iata-status-incomplete::before {
    background-color: #b0adab;
}
.THIS .slds-path__nav .iata-status-incomplete::after {
    background-color: #b0adab;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
.THIS .LabelTooltip .tooltiptext{
visibility: hidden;
max-width: 230%;
max-height:180%;

background-color: #fff;
color: #00396b;
text-align: center;
border-radius: 6px;
padding: 6px;
position: absolute;
z-index: 1;
opacity: 1;
transition: opacity 0.3s;
margin-bottom: 80px !important;
margin-top: -45px !important;

border-color: #e5e4e3;
border-style: solid;
border-width: thin;
}
}*/