.flexCenter{
    display : flex;
    justify-content : center;
    align-items : center;
}

.flexOneZero{
    flex: 1 0 auto;
}

.ihubBlue {
    color: #1e32fa;
}

fullWidth.{
    width:100%;
}