.grey{
    color: #999999;
}

.collapsed{
    visibility: collapse;
    display: none;
}

.arrowExpanded{
    transform: rotate(90deg);
}.linkColor {
    color: #337ab7;
}

.linkColor:hover {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
}
.blue{
    color:blue;
}
.a {
    color: blue;
}
