.grey{
    color: #999999;
}

.collapsed{
    visibility: collapse;
    display: none;
}

.arrowExpanded{
    transform: rotate(90deg);
}

.linkColor:hover {
    text-decoration: underline;
    cursor: pointer;
}
.blue{
    color:blue;
}
.a {
    color: blue;
}
.documentsAccordionTransition {
    transition: height 0.8s ease;
}
