.page-title {
    margin: 2em 0;
    font-size: $font-size-largest;
    font-weight: $font-weight-normal;
}

.section-title {
    margin: 0;
    line-height: 1.2;
    font-weight: $font-weight-normal;
}

.group-title {
    line-height: 1.2;
    font-size: $font-size-larger;
    font-weight: $font-weight-bold;
    margin: 0;
}

