.THIS .hidden{
  display: none;
}
.THIS .popup-button, .THIS .popup {
  position: relative;;
  z-index: 10;
}
.THIS .popup {
  width: 900px;
  border: 2px solid black;
  background: white;
  /*z-index: 10;*/
}
.THIS .fillFullWidth {
  width: 100%;
}