.THIS .hidden{
  display: none;
}
.THIS .fillFullWidth {
  width: 100%;
}
.THIS .required {
    border-left: 0.3em solid red !important;
}
.THIS .slds-popover {
    width: auto !important;
}

@media (max-width: 1200px) {
    

    .THIS button {
        display: block !important;
    }
    .THIS .slds-button +  .slds-button {
        margin-left: 0 !important;
    }
}
