.textAlignCenter {
    text-align: center;
}

.slds-has-error input{
    border-radius: 4px !important;
    border: solid 2px rgba(240, 70, 50, 0.8) !important;
    box-shadow: none !important;
    background-color: #ffffff;
}

.slds-has-error .slds-form-element__help{
    color: #f04632 !important;
    font-size: 14px;
    line-height: 1.14;
}

.inputBackgroundGrey{
    border-radius: 2px !important;
    background-color: #f7f8fa !important;
}

.errorMessage{
    min-height: 18px;
    margin-top: 7px;
}

