.THIS {
}
.THIS td {
  max-width: 500px;
  /*overflow-x: hidden;*/
  white-space: normal !important;
}
.THIS th.narrowColumn {
  width: 80px;
}
.THIS th.wideColumn-30 {
  width: 30%;
}
.THIS th.narrowColumn > a > span.slds-truncate {
  white-space: normal !important;
}
.THIS .uiMenuList--default .uiMenuItem>a {
      height: 2em;
}