.THIS .hidden{
  display: none;
}
.THIS .textwrap {
    white-space: normal;
}


@media (max-width: 1200px) {

    .THIS button {
        display: block !important;
    }
    .THIS .slds-button +  .slds-button {
        margin-left: 0 !important;
    }
}
