.THIS .hidden{
  display: none;
}
.THIS .textwrap {
    white-space: normal;
}


@media (max-width: 1200px) {
    .THIS .uiMenuItem {
        font-size: 200%;
    }

    .THIS .slds-button {
        display: block !important;
    }
}
