.contactUsCard {
  position: relative;
  border:none;
  margin-top:35px;
  background-color:#FFFFFF;
  box-shadow: 5px 5px 20px #999999;
  background-color: #ffffff;
}


.ballonsContainer {
  display: flex;
  justify-content: center;
}

.ballons {
  width: 100%;
  max-width: 280px;
}

.contactUsDiv {
    margin-top:10px;
    text-align:center;
}

.contactUsButton {
    font-weight: 500;
    color: #3333ff;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align:center;
}