.THIS .chooseButton {
    display: table;
    margin: 0 auto;
    padding-bottom: 10%;
}

.THIS.page_container{
    margin:0 auto;
    width:80%;
}

.THIS .slds-form-element__label {
    color: #666666;
    font-size:12px;
}