.THIS .slds-truncate{
    max-width: 20%;
}
.THIS .uiInputNumber {
    max-width: 55px;
}
.THIS .slds-popover {
    position: absolute !important;
    top: 55px;
    left: 75px;
    white-space: normal;
}