.errorBox {
	color: #fff;
	border-radius: 4px;
	background: #c23934;
	padding: 10px;
	margin-left: 38px;
	width: 89%;
	white-space: normal;
}

.formLabelContainer{
    padding-bottom: 11px;
}

.formItem{
    margin-bottom: 50px;
	display: inline-block;
}

.IEFixDisplay{
	display: inline-block;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.customPopupInterior60PercentScreenCentered {
    background-color: #F7F8FA;
    width: 60%;
    min-width: 320px;
    max-width: 770px;
    margin: auto;
    border-radius: 1px;
}

.registration-modal {
    position: fixed;
    z-index: 4003;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f7f8fa;
}

.scrollable-body{
    height:70vh;
    overflow:auto;
}

.slds-has-error input{
    border-radius: 1px !important;
    border: solid 2px rgba(240, 70, 50, 0.8) !important;
    box-shadow: none !important;
}

.slds-has-error .slds-form-element__help{
    color: #f04632 !important;
    font-size: 14px !important;
}

.slds-has-error .slds-form-element__help div{
    color: #f04632 !important;
}

.inputBackgroundGrey{
    background-color: #f7f8fa !important;
}

.slds-combobox_container input[role="combobox"]:not(:placeholder-shown) {
    background-color: #f7f8fa;
}

.wrap{
    white-space:unset;
}

.customPopupInteriorQuarterScreenCentered {
    background-color: #F7F8FA;
    width: 25%;
    margin: auto;
    box-shadow: 5px 5px 20px #808080;
    border-radius: 1px;
    border: solid 1px #e2e2e2;
}

.textAlignCenter {
    text-align: center;
}

.banner{
    width: 100%;
    margin-bottom: 32px;
}

.header{
    height: 64px;
    background-color: #1e32fa;
    display: flex;
    justify-content: space-around;
}

.header .headerTitle{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-family: DaMaWebFont;
}

.headerHome, .headerClose{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 64px;
}

.progressBarContainer{
    background-color: #fff;
    padding: 16px 0;
}

.progressBar{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.progressItem{
    flex: 1;
    display: flex;
    justify-content: center;
}

.itemIcon{
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
	width:24px;
}

.itemTitle{
    display: flex;
    align-items: center;
}

.itemTitle span{
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #525252;
}

.itemClickable{
    cursor: pointer;
}

.spinnerContainer{
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

.checkedIcon{
    height: 24px;
    width: 24px;
}

.uncheckedIcon{
    height: 24px;
    width: 24px;
}

.currentStep{
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .header .headerTitle{
        font-size: 18px;
    }

    .itemTitle {
        text-align: center;
    }

    .progressItem{
        flex-wrap: wrap;
        min-width: 100px;
    }
}

.stepText {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #525252;
  }

  .sectionTitle {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #333333;
    padding-bottom: 4px;
  }

  .sectionSubTitle {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #333333;
    padding: 15px 0;
  }

  .sectionDescription {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4a4d61;
  }  

  .dataLabel {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #999999;
  }

  

  .dataValue {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #525252;
  }

  .backButtonWrapper{
    display: flex;
    align-items: center;
}

.editButtonWrapper{
  display: flex;
  justify-content: flex-end;
}

.containedButton{
    box-shadow: none !important;
}



.customBtn .slds-button:disabled{
    box-shadow: none;
}

.warningIcon{
  margin-right: 10px;
}

.fieldContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.fieldItem{
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.fullWidthItem:first-child{
  width: 100%;
}

.itemValue{
  word-wrap: break-word;
  padding-right: 15px;
}

.sectionHeaderContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sectionHeaderContainer .editButtonWrapper{
  text-align: right;
}

.activeStep {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
	margin-right: 10px;

    background: #2a9434;
    border: none;
    color: #FFF;
    text-align: center;

    font-size: 13Px;
}

.inactiveStep {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
	margin-right: 10px;

    background: #CCCCCC;
    border: none;
    color: #FFF;
    text-align: center;

    font-size: 13Px;
}