.customCard {
  border-width: 2px;
  position: relative;
  box-shadow: none;
}

.customCard::after,
.customCard::before {
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 120px;
  position: absolute;
}

.customCard::after {
  bottom: -2px;
  right: -2px;
}

.customCard::before {
  border-color: transparent transparent #e2e2e2 transparent;
  bottom: 0;
  right: 0;
}

.ballonsContainer {
  display: flex;
  justify-content: flex-end;
}

.ballons {
  width: 100%;
  max-width: 280px;
}