.yellow-underline-100 {
	margin: 5px 0px;
	width: 100%;
	border-top: 2px solid #ffc90d;
}

.hiddenSection {
    display: none;
}

.collapsible {
	color: #333;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	font-weight: bold;
	outline: none;
	font-size: 15px;
	background-color: transparent;
}

.collapsible label {
	max-width: 86%;
}

.collapsible:hover {
	background-color: #eee;
}

.collapsible:after {
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.content {
	max-height: 0;
	padding: 0px 10px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible-parent {
	color: #333;
	cursor: pointer;
	padding: 0px 10px;
	margin: 10px 0px;
	width: auto;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	background-color: transparent;
}

.collapsible-parent:after {
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

/* todo in static res */

.itemBase {
	border: solid 1px black;
	margin: 2px;
	z-index: 10;
	color: blue;
}

.itemBase-cert {
	z-index: 10;
	color: blue;
	cursor: pointer;
}

.itemBase:hover {
	border: none 2px rgb(70, 71, 70);
	font-size: 1.1rem;
	cursor: pointer;
}

.itemSelected {
	border: blue;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.5s ease;
	font-weight: bold;
	/* opacity: 0; */
}

.itemUnselected {
	border: grey;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	/* transition: opacity .5s linear;
    opacity: 1; */
}

@media (max-width: 768px) {
	.slds-pill {
		margin: 2px 2px !important;
	}
}

.slds-pill {
	background-color: #1e32fa;
	color: white;
	font-size: 0.8rem;
	margin: 2px 4px;
	align-items: inherit;
}

.itemUnselected .certiImage {
	-webkit-filter: opacity(0.2);
	filter: opacity(0.2);
}

.itemUnselected .item-filter {
	color: #919191;
}

.itemUnselected .certiTick {
	display: none;
}

.itemUnselected .cargoTick {
	-webkit-filter: opacity(0.2);
	filter: opacity(0.2);
}

@media (max-width: 768px) {
	.certiImage {
		width: 55% !important;
	}
	.certiTick {
		position: absolute !important;
		margin-left: 55% !important;
	}
}

.certiImage {
	width: 85%;
}

.certiTick {
	float: right;
	width: 15px;
	margin-left: -15px;
}

.certiLabel {
	font-size: 0.8rem;
}

.label-see-more {
	cursor: pointer;
	color: blue;
	font-weight: 700;
}

.div-tags {
	overflow: hidden;
}

.collapse-tags {
	max-height: 83px;
	overflow: hidden;
}

.collapsible .filters-label {
	margin-bottom: 0px;
}

/*.active .filters-label {
    margin-bottom: 0.5rem;
}*/

.sectionLabel {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 10px 20px 10px 0px;
}

.sectionLabel-search {
	margin: 10px 0px 10px 0px;
	font-size: 15px !important;
}

.expand-without-position {
	width: 15px;
	right: 15px;
	/* margin-top: 3px; */
}

.localPanel {
	background: white;
	margin: 0;
}

@media (max-width: 992px) {
	.display-flex {
		display: block !important;
	}
}

.expand-collapse-filter-advance-search {
	width: 15px;
	position: absolute;
	right: 15px;
	margin-top: 12px;
}

.color-second-label {
	color: #666 !important;
}

.h6Custom {
	font-size: 1.1rem;
    font-weight: bold;
}