.itemBase {
    z-index: 10;
    padding: 5px;
}


.itemSelected:hover {
    /* border: solid 2px rgb(70, 71, 70); */
    cursor: pointer;
}

.itemSelected {
    /* border: solid 1px blue; */
    -webkit-filter: grayscale(0%);
    font-size: 1.03rem;
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease;
    /* opacity: 0; */
}

.itemSelected .company-type-content{
    border: 1px solid #eeeeee;
}

.itemUnselected {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.itemUnselected:hover {
    /* border: solid 2px rgb(70, 71, 70); */
    font-size: 1.03rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.itemUnselected .imgtxtfil{
    -webkit-filter: opacity(.2) grayscale(100%);
    filter: opacity(.2) grayscale(100%);
}

.itemUnselected .company-type-content {
    background-color: #cac6c6;
}

.company-item {
    padding: 0.25rem 1rem;
}

.company-type-content {
    background-color: white;
    color: blue;
    font-weight: bold;
}



.blueText {
    color: blue !important;
}

a.blueText:hover {
    color: darkblue !important;
}

.yellow-underline-100 {
    margin: 5px 0px 15px;
    width: 100%;
    border-top: 2px solid #ffc90d;
}

.height-85{
    height: 85%;
}