.cardBodyContent {
  min-height: 318px;
}

.cardBodyContentSmall {
  min-height: 120px;
}

.removeFontWeight {
  font-weight: 400;
}

.noRecentCases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

lightning-button.reachusbutton {
  border-color: transparent;
  background-color: transparent;
}