.cardBodyContent {
  min-height: 318px;
}

.cardBodyContentSmall {
  min-height: 120px;
}

.hpRecentCasesTable .slds-table_header-fixed_container.slds-scrollable_x {
  overflow-x: hidden;
}
@media screen and (max-width: 640px) {
  .cardBodyContentSmall {
    margin-left: -2rem;
    margin-right: -2rem;
    overflow-x: auto;
  }
  .hpRecentCasesTable .slds-table_header-fixed_container.slds-scrollable_x {
    overflow-x: auto;
  }
}

.removeFontWeight {
  font-weight: 400;
}

.noRecentCases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

lightning-button.reachusbutton {
  border-color: transparent;
  background-color: transparent;
}