.grid-margin-bottom-justified {
    margin-bottom: 1rem;
    justify-content: center;
}


.slds-current-color.blue_arrow {
    color: #1E32FA;
}

.custom-recipients {
    display:inline-block;
    border-radius: 1px;
    background-color: #f7f8fc;
    line-height: 1.71;
    color: #4a4d61;
}

.recipients-box{
    max-height: 150px;
}

.missing-value{
    border-color:red;
}


@media screen and (max-width: 640px) {
    .slds-p-horizontal_xx-large, .slds-p-horizontal--xx-large {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .slds-m-around_x-large, .slds-m-around--x-large {
        margin: 1rem;
    }
}