.THIS.page_container{
    width:40%;
    margin:0 auto;
}

.THIS .no-click {
    pointer-events: none;
    border: 0px solid;
}

.THIS .secondColumn {
    width:50px;
}

.THIS .field {
    height: 40px !important;
}

.THIS .checkbox {
    margin-top:5px;
}

.THIS .evenRows {
    height: 6px;
    background-color: #F2F2F2;
}

.THIS .roleLine {
    height:30px;
}

.THIS .center {
    text-align:center;
}