.customPopupInterior60PercentScreenCentered {
	background-color: #F7F8FA;
	width: 60%;
	min-width: 320px;
	max-width: 770px;
	margin: auto;
	border-radius: 1px;
}

.registration-modal {
	position: fixed;
	z-index: 4003;
	padding-bottom: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f7f8fa;
}

.BSPCASS {
	width: 1440px;
	height: 120px;
	object-fit: contain;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.03);
	background-color: #ffffff;
  }




.scrollable-body{
	height:70vh;
	overflow:auto;
}

/* A lovely scroller - needs height recalculation
.scrollable-body::-webkit-scrollbar {
	width: 68px;
}

.scrollable-body::-webkit-scrollbar-thumb{
	 width: 68px;
	  background-image: url("/csportal/s/cat.gif"),
		linear-gradient(
		  90deg,
		  transparent,
		  magenta,
		  red,
		  yellow,
		  limegreen,
		  turquoise,
		  blue,
		  magenta,
		  transparent
		);
	  background-position: center bottom, center -20px;
	  background-repeat: no-repeat, no-repeat;
	  background-size: contain, contain;
}*/

.slds-has-error input{
	border-radius: 1px !important;
	border: solid 2px rgba(240, 70, 50, 0.8) !important;
	box-shadow: none !important;
}

.slds-has-error .slds-form-element__help{
	color: #f04632 !important;
	font-size: 14px !important;
}

.slds-has-error .slds-form-element__help div{
	color: #f04632 !important;
}

.inputBackgroundGrey{
	background-color: #f7f8fa !important;
}

.slds-combobox_container input[role="textbox"]:not(:placeholder-shown) {
	background-color: #f7f8fa;
}

.wrap{
	white-space:unset;
}

.customPopupInteriorQuarterScreenCentered {
	background-color: #F7F8FA;
	width: 50%;
	margin: auto;
	box-shadow: 5px 5px 20px #808080;
	border-radius: 1px;
	border: solid 1px #e2e2e2;

}

.textAlignCenter {
	text-align: center;
}

/* Banner */
.banner{
	width: 100%;
	margin-bottom: 32px;
}

.header{
	height: 50px;
	background-color: #1e32fa;
	display: flex;
	justify-content: space-around;
}

.header .headerTitle{
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #fff;
}

.headerHome, .headerClose{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.progressBarContainer{
	background-color: #fff;
	padding: 20px 0;
}

/* PROGRESS BAR */

.progressBar{
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	width: 100%;
	width: 60%;
	margin: auto;
}

.progressItem{
	flex: 1;
	display: flex;
	justify-content: center;
}

.itemIcon{
	/*width: 25px;
	height: 25px;
	border: 2px solid #289632;*/
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.previousItem{
	color: #289632;
  }

.previousItem .itemIcon:before{
	content: '';
}

.activeItem .itemIcon{
	background-color: #289632;
	color: #fff;
}

.nextItem .itemIcon{
	background-color: #cccccc;
	border: 2px solid #cccccc;
	color: #fff;
}

.nextItem .itemTitle span{
	color: #cccccc;
}

.firstItem .itemIcon:before{
	content: '1';
}

.secondItem .itemIcon:before{
	content: '2';
}

.thirdItem .itemIcon:before{
	content: '3';
}

.itemTitle{
	display: flex;
	align-items: center;
}

.itemTitle span{
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #525252;
}



.validIcon{
	margin-bottom: -20px;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:  rgba(0,0,0,.4);
	z-index: 4004;
  }

  .middle {
	display: table-cell;
	vertical-align: top;
  }

  .modal2 {
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: 10%;
  }



  .icon{
	position:relative;
	text-align:center;
	top: -48px;
  }



  .btnModal{
	display: inline-block;
	width: 100%;
  }

  .buttonContainer{
	width: 48%;
  }

  .buttonContainer100{
	width: 100%;
  }

  .buttonsWrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
  }

  .spinnerContainer{
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.mySpinnerProfileUpdate {
	position: relative;
	text-align:center;
	height: 5rem;
	width: 5rem;
	margin: auto;
  }

.mySpinnerProfileUpdateBackground{
	background: #f7f8fa;
}

.ProfileUpdateMessage{
	word-wrap: normal;
}