.customPopupInterior60PercentScreenCentered {
	background-color: #F7F8FA;
	width: 60%;
	min-width: 320px;
	max-width: 770px;
	margin: auto;
	border-radius: 1px;
}

.registration-modal {
	position: fixed;
	z-index: 4003;
	padding-bottom: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f7f8fa;
}

.slds-combobox_container input[role="textbox"]:not(:placeholder-shown) {
	background-color: #f7f8fa;
}
.customPopupInteriorQuarterScreenCentered {
	background-color: #F7F8FA;
	width: 50%;
	margin: auto;
	box-shadow: 5px 5px 20px #808080;
	border-radius: 1px;
	border: solid 1px #e2e2e2;

}

.textAlignCenter {
	text-align: center;
}

/* Banner */
.banner{
	width: 100%;
	margin-bottom: 32px;
}

.header{
	height: 64px;
	background-color: #1e32fa;
	display: flex;
	justify-content: space-around;
}

.header .headerTitle{
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	font-family: DaMaWebFont;
}

.headerHome, .headerClose{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	min-width: 64px;
}

.progressBarContainer{
	background-color: #fff;
	padding: 16px 0;
}

.progressBar{
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	width: 50%;
	margin: auto;
}

.progressItem{
	flex: 1;
	display: flex;
	justify-content: center;
}

.itemIcon{
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemTitle{
	display: flex;
	align-items: center;
}

.itemTitle span{
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #525252;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:  rgba(0,0,0,.4);
	z-index: 4004;
  }

  .middle {
	display: table-cell;
	vertical-align: top;
  }

  .modal2 {
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: 10%;
  }

  .icon{
	position:relative;
	text-align:center;
	top: -48px;
  }

  .btnModal{
	display: inline-block;
	width: 100%;
  }

  .buttonContainer100{
	width: 100%;
  }

  .buttonsWrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
  }

  .spinnerContainer{
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.mySpinnerProfileUpdate {
	position: relative;
	text-align:center;
	height: 5rem;
	width: 5rem;
	margin: auto;
  }

.mySpinnerProfileUpdateBackground{
	background: #f7f8fa;
}

.ProfileUpdateMessage{
	word-wrap: normal;
}

@media only screen and (max-width: 800px) {
	.header .headerTitle{
		font-size: 18px;
	}

	.itemTitle {
		text-align: center;
	}

	.progressItem{
		flex-wrap: wrap;
		min-width: 100px;
	}
}

.itemClickable{
	cursor: pointer;
}