.THIS  td {
    /*white-space: normal !important;*/
}

@media (max-width: 1200px) {
    .THIS .uiMenuItem {
        font-size: 200%;
    }

    .THIS .slds-button {
        display: block !important;
    }

    .THIS td {
        word-break: break-all !important;
        white-space: normal !important;
    }
}
