/**
 * Created by pvavruska on 6/4/2019.
 */

.hr {
  height: 2px;
  background-color: #f7f8fa;
}

.m-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  display: inline-block;
}

.noPadding {
  padding: 0;
}

.underLinded {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1%;
  padding-top: 1%;
}
​ table tr:last-child {
  border-bottom: none;
}

th.active {
  width: 220px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #333333;
}

th.inactive {
  height: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #525252;
}

td.active {
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #333333;
}

td.activeField{
    width: 220px;
    font-size:16px;
    font-weight: 500;
}

td.inactive {
  width: 220px;
  height: 26px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #525252;
}

.recordDetail {
  background-color: #f7f8fa;
}

.recordDetailBox{
    margin-left:10%;
    min-height:200px;
    padding-top:0.5rem;
    max-width:75%;
}

.tableLefty {
  width: 5%;
}

/* COLORS */
.lightGreen span {
  display: inline-block;
  width: 90px;
  background-color: #b1e8b5;
  border: solid #b1e8b5 5px;
  text-align: center;
}

.amber span {
  display: inline-block;
  width: 90px;
  background-color: #fac832;
  border: solid #fac832 5px;
  text-align: center;
}

.chevronColumn{
    width:5%;
    text-align:center;
}

.openTransition{
    transition: height 0.3s ease;
}

.invalidEmail {
  color: rgb(255, 0, 0);
}

.validEmail {
  color: rgb(0, 128, 0);
}