/* .mainWrapper {
    padding: 20px;
    width: 100%;

    generico slds-theme_default
        background-color: rgb(255, 255, 255);
        color: rgb(8, 7, 7); 
} */

.basicButton {
    color: white !important;
    font-size: 1.1rem !important;
    min-height: 40px !important;
    min-width: 150px !important;
}

.compareButton {
    background-color: #FAC832 !important;
}

.moreInfoButton {
    background-color: #F04632 !important;
}

.resultWrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.secondRow {
    min-height: 40px;
    align-items: left;
    text-align: center;
    line-height: 40px;
}