.searchCasesList {
    display: inline-block;
    width: 80%;
}

.inputFilter {
    display: flex;
    align-items: center;
}

.inputFilter lightning-input {
    width: 100%;
    margin-top: -1px;
}

.buttonGrid{
    min-height:52px;
}

.noRecentCases {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nrResultsSpinner{
    position: relative;
    display: inline-block;
    margin: 6px 8px;
    width: 16px;
    vertical-align: middle;
}

.rotateIcon {
    transform: rotate(45deg);
}
.noPadding {
    padding: 0px;
}

/* MODAL */

.modalTitle{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #333;
}

.paddingRight {
    padding-right: 0;
}

@media screen and (max-width: 640px) {
    .fullHeight,
    .fullHeight button,
    .fullHeight button:active,
    .fullHeight button:visited,
    .fullHeight button:focus,
    .fullHeight button:hover {
       height: auto;
    }
}

.searchInputContainer {
    height:48px;
}