/**
 * Created by pvavruska on 5/27/2019.
 */

.fieldLabel{
      height: 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #999999;
}

.fieldValue{
    word-break: break-all;
    white-space: normal;
    height: 26px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #525252;
}

.centered{
    text-align:center;
}

.headerShadow{
    box-shadow: 0px 1px 12px 0px #827f7f;
}

.fixMinSize{
    min-width:300px;
}

.fullWidth{
    width:100%;
}

.fullHeight{
    height:100%;
}

.companyHeader{
    min-height:150px;
    background-color:#ffff;
}

.mediumSpacer{
    min-width:250px;
    height:1px;
    float: left;
}

.smallSpacer{
    height:100px;
}

.headerGrid{
    max-width:800px;
}