.THIS.body_content {
    min-height:500px;
    height:100%;
}

.THIS .first {
    margin-left:10px;
}

.THIS .slds-tabs_default__nav {
    border-bottom: 6px solid #dedede;
}

.THIS .slds-dropdown-trigger button{
    text-transform: uppercase;
    color: black;
}

.THIS .slds-dropdown-trigger button:hover{
    text-transform: uppercase;
    color: black;
    border: none !important;
    background-color: white !important;
}

.THIS .slds-dropdown-trigger button:focus{
    outline: 0;
    box-shadow: none;
}

.THIS .slds-dropdown__item a{
    background-color:white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
}
.THIS .slds-dropdown__item{
	border-bottom: 2px solid white;
}
.THIS lightning-menu-item.slds-dropdown__item:hover{
    border-bottom: 2px solid rgb(19,123,218);    
}

.THIS .slds-tabs_default__item a {
    color: black !important;
    text-decoration: none !important;
}


.THIS .slds-tabs_default__item.slds-is-active {
    background-color:#1E32FA;
    color:white  !important;
}

.THIS .slds-tabs_default__item.slds-is-active a{
    color:white  !important;
}

.THIS .slds-tabs_default__item {
    background-color:white;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
}

.THIS .slds-tabs_default__item {
    margin-bottom: 1px;
}