.THIS .uiMenuList--default .uiMenuItem>a {
      height: 2em;
}

@media (max-width: 1200px) {
    .THIS .uiMenuItem {
        /*font-size: 200%;*/
        /*line-height: 25px;*/
        margin: 12pt;
    }


    .THIS button {
        display: block;
    }
}
