.THIS .bckColor{
    background: inherit !important;
}
/*
.THIS .slds-th__action > span.slds-truncate {
    white-space: pre-wrap !important;
}*/

.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS .no-truncate tbody .slds-truncate{
    max-width: 100%;
    overflow: initial; 
    text-overflow: initial; 
    white-space: normal;
}