.THIS .datatableWrapper{
    max-height: 150px;
    overflow-y: scroll;
}

.THIS .card-max-size{
    max-height: 300px;
    overflow-y: scroll;
}

.THIS .dropdown-action-menu{
 left: 0%; 
 transform: translateX(0); 
}
.THIS .dropdown-action-menu a{
color: rgba(27, 82, 151, 1);
}