.highlighted {
    border-bottom-color: green !important;
    border-bottom-width: 3px !important;
    border-style: solid hidden solid hidden !important;
    border-color: greenyellow !important;
    width: 100%;
    margin-bottom: 0.5%;
}

.resultBox {
    border-bottom-color: grey !important;
    border-bottom-width: 2px !important;
    border-style: hidden hidden solid hidden !important;
    width:100%;
}

.headerResults {
    /*background-color: blue;*/
    color: white;
    min-width: 10px;
    min-height: 40px;
    align-items: left;
    text-align: center;
    line-height: 40px;
}

.headerBox {
    /*border-bottom-color: none;
    border-bottom-width: 2px !important;
    border-style: hidden hidden solid hidden !important;*/
    width: 100%;
}

.nav-link{
    color: #1E32FA !important
}

/* .resultWrapper {
    padding-top: 15px;
    padding-bottom: 15px;
} */