.WarningRectangle {
    background-color: rgba(250, 200, 50, 0.32);
    align-items: center;
    display: inline-table;
    width: 100%;
}

.modalHeader {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #333333;
}

.modalBody {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #525252;
}

.customModal {
    width: 45%;
    height: auto;
    display: block;
    top: 60px;
    border-radius: 0px;
    background-color: #fff;
    padding: 0px;
    margin: 0 auto;
    padding-bottom: 20px; 
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
}

@media (max-width: 48em) {
    .customModal{
        width: 80%;
    }
}

.overlap-top-center {
    position: relative;
    top: 110px;
    z-index: 1;
}

.searchStyle {
    display: inline-block;
    width: 80%;
}

.dot-lightgreen {
    content: "";
    height: 96px;
    width: 96px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot-lightgreen::before {
    content: "";
    height: 96px;
    width: 96px;
    background-color: rgba(40, 150, 50, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    content: '';
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    left: 8px;
    top: 8px;
}

.dot-green::before {
    content: '';
    height: 80px;
    width: 80px;
    background-color: rgba(40, 150, 50, 0.6);
    border-radius: 50%;
    display: inline-block;
    left: 8px;
    top: 8px;
}

.dot-white-small {
    height: 56px;
    width: 56px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot-white-small.dot-allign {
    left: 12px;
    top: 12px;
    position: absolute;
}

.dot-allign {
    left: 8px;
    top: 8px;
    position: absolute;
}

.success-variant {
    color: #289632 !important;
}

.success-variant.dot-allign {
    left: 12px;
    top: 12px;
    position: absolute;
}

.cursorPointerColor{
    color: #333333 ;
}