.textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 70px;
    border: 0;
    font-size: 18px;
}

textarea::placeholder{
    font-size: 18px;
    color: #999;
}

textarea:focus{
    box-shadow: unset;
}

.sendIcon {
    display: flex;
    justify-content: center;
}

.messagesContainer {
    display: flex; 
    flex-direction: column;
}

.caseMessagesSelfBubbleContainer, .caseMessagesOtherBubbleContainer {
    /* max-width: 60%; */
    min-width: 30%;
}

.caseMessagesSelfBubbleContainer {
    align-self: flex-end;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.caseMessagesOtherBubbleContainer {
    align-self: flex-start; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.caseMessagesSelfBubble, .caseMessagesOtherBubble {
    position: relative;   
}

.breakWord{
    word-break: break-word;
}

.collapsed{
    visibility: collapse;
    display: none;
}

.arrowExpanded{
    transform: rotate(90deg);
}
@media print {
    .caseMessagesContainer {
        display: block;
        height: auto; 
        visibility: visible;
    }
    .caseMessagesContainer .colalpsed {
        display: block;
        height: auto; 
        visibility: visible;
    }
    .slds-icon-utility-chevronright.arrowExpanded{
        transform: rotate(90deg);
    }
    .slds-icon-utility-chevronright{
        transform: rotate(90deg);
    }
    .customCard {
        box-shadow: 0px 0px 0px #fff;
        border-radius: 0px;
        border: solid 0px #fff;
        background-color: rgba(255, 255, 255, 1);
    }
}
