.headerContainer {
  background-color: #1e32fa;
  border-top: 29px solid #fff;
  border-bottom: 29px solid #fff;
}

.maxWidthHeader {
  max-width: 1440px;
  margin: 0 auto;
  height: 40px;
}

.customBlueBackground {
  background-color: #1e32fa;
}

.text-xsmall {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.customCardWhite {
  box-shadow: 5px 5px 20px #e2e2e2;
  border-radius: 1px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.headerBar {
  height: 40px;
}

.headerBarLeft {
  display: inline-block;
  position: relative;
}

.headerBarLeft::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: 0;
}

.headerBarLogo {
  margin-top: -18px;
  background-color: #ffffff;
}

.headerBarLogo:hover {
  cursor: pointer;
}

.headerBarRight {
  position: relative;
  display: grid;
}

.headerBarRight::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.headerBarLeftRightWidth {
  width: 8%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.headerBarButton {
  position: relative;
  max-height: 37px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.headerBarButton:hover {
  cursor: pointer;
}

.buttonService:hover:after,
.buttonSupport:hover:after,
.buttonService.selectedButton:after,
.buttonSupport.selectedButton:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fac832;
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
}

.tabText {
  display: inline-block;
}

.headerBarButton:hover span.tabText {
  font-weight: 500;
}

.headerButtonProfileContainer:hover {
  background-color: #ffffff;
}

.headerButtonProfileContainer:hover span.tabText {
  color: #1e32fa;
}

.headerButtonProfileContainer:hover div.headerButtonProfile,
.headerBarButton:hover div.headerButtonArrow {
  background-color: #1e32fa;
}

.headerButtonNotificationsContainer:hover {
  cursor: pointer;
}



.headerButtonNotificationsCloseIcon {
  display: none;
  width: 24px;
  height: 24px;
}

.notificationNumber {
  background-color: #fac832;
  font-size: 11px;
  text-align: center;
  z-index: 2;
  float: right;
  position: relative;
  margin-left: -6px;
}

.headerButtonProfileContainer:hover .openProfile,
.openProfile:hover {
  display: block;
}

.headerButtonProfileIconOver, .headerButtonProfileArrowOver {
  display: none;
}

.headerButtonProfileArrowOver {
  transform: rotate(180deg);
  margin-top: 2px;
}

.headerButtonProfileContainer:hover .headerButtonProfileIcon, .headerButtonProfileContainer:hover .headerButtonProfileArrow {
  display: none;
}

.headerButtonProfileContainer:hover .headerButtonProfileIconOver, .headerButtonProfileContainer:hover .headerButtonProfileArrowOver {
  display: block;
}

.openProfile {
  display: none;
  position: absolute;
  margin-top: 3px;
  z-index: 9005;
  min-width: 160px;
  align-self: baseline;
  top: 33px;
  left: 0;
}

.profileOption {
  display: block;
  font-weight: 500;
}

.profileOption:hover {
  background-color: #f0f2f5;
}

.customCardWhite {
  border: none;
  box-shadow: 5px 10px 20px #e2e2e2;
}



.headerBarButton:hover div.headerButtonArrow {
  transform: rotate(180deg);
}



.headerMarginRight {
  margin-right: 10%;
}

.notificationCenterTitle {
  font-size: 20px;
  font-weight: bold;
}

.notificationCenterTextsize {
  font-size: 14px;
}
.unreadNotification {
  background-color: #f7f8fa;
}

.readNotification {
  background-color: white;
}

.openNotifications {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 10000;
  min-width: 340px;
  height: 550px;
  max-height: 550px;
  right: calc(10% + 1.5rem + 24px);
}

.closeButton {
  font-size: 30px;
  line-height: 30px;
  transform: rotate(45deg);
  color: #1e32fa;
  font-family: Arial;
}

.notificationOption {
  display: block;
  font-weight: 500;
}

.notificationBox {
  height: 82px;
}

.notificationTitle {
  background-color: #e1e3e6;
  padding: 3px;
}

.notificationBody {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 93.5%;
  display: block;
}

.circle {
  display: block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid rgba(51, 51, 255, 0.4);
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}

.circle:hover {
  display: block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid rgba(51, 51, 255, 0.4);
  float: right;
  background-color: rgba(51, 51, 255, 0.4);
}

.hrConfig {
  margin: 0px;
}

.viewDetailConfig:hover {
  text-decoration: underline;
}

.modalNotificationDetail {
  height: 640px;
  z-index: 10005;
}

.modalBox {
  max-width: 100vw;
}

.modalBody {
  max-height: 500px;
  overflow-y: auto;
}

.modalType {
  font-weight: 500;
  text-align: center;
}

.background {
  background-color: white;
}

.addOverflow {
  overflow-y: auto;
}

.tooltipMark {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipMark .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 2px;
  position: absolute;
  z-index: 1;
  right: -40px;
  bottom: 7px;
  -webkit-box-shadow: 0px 0px 5px 0px #cfcfcf;
  -moz-box-shadow: 0px 0px 5px 0px #cfcfcf;
  box-shadow: 0px 0px 5px 0px #cfcfcf;
}

.tooltipMark:hover .tooltiptext {
  visibility: visible;
}

.headerBarConatiner {
  height: calc(100% - 2px);
  margin-top: 4px;
}

.headerTitle {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}