.borderTransition {
  transition: border-top 0.5s;
  -webkit-transition: border-top 0.5s;
}

.displayTransition {
  transition: display 0.5s;
  -webkit-transition: display 0.5s;
}

.widthTransition {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.heightTransition {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

.headerContainer { 
  background-color: #1e32fa;
  border-bottom: 29px solid #fff;

}
@media only screen and (max-width: 767px) {
  .headerContainer {
    border-top: 0px solid #fff;
  }
}


.topsection{
  height: 29px; 
  background-color:#fff;
}
.maxWidthHeader {
  max-width: 1440px;
  margin: 0 auto;
  height: 40px;
}

.customBlueBackground {
  background-color: #1e32fa;
}

.text-xsmall {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.customCardWhite {
  box-shadow: 5px 5px 20px #e2e2e2;
  border-radius: 1px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.headerBar {
  height: 40px;
}
.headerBarMobile {
  height: 60px; 
}

.stickyHeader{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10010;
}

.headerBarLeft {
  display: inline-block;
  position: relative;
}

.headerBarLeft::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: 0;
}

.headerBarLogo {
  margin-top: -18px;
  background-color: #ffffff;
}

.headerBarLogo:hover {
  cursor: pointer;
}

.headerBarRight {
  position: relative;
  display: grid;
}

.headerBarRight::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.headerBarLeftRightWidth {
  width: 8%;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.headerBarButton {
  position: relative;
  max-height: 40px;
  display: flex;
  align-items: center;
  height: 100%;
}

.headerBarButton:hover {
  cursor: pointer;
}

.buttonService:hover:after,
.buttonSupport:hover:after,
.buttonService.selectedButton:after,
.buttonSupport.selectedButton:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fac832;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.publicSideBarBtnMenu .buttonService:hover:after,
.publicSideBarBtnMenu .buttonSupport:hover:after,
.publicSideBarBtnMenu .buttonService.selectedButton:after,
.publicSideBarBtnMenu .buttonSupport.selectedButton:after {
  height: 2px;

}

.mobileSubMenu .headerBarButton:hover:after,
.mobileSubMenu .headerBarButton.selectedButton:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fac832;
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
}

.tabText {
  display: inline-block;
}

.headerBarButton:hover span.tabText {
  font-weight: 500;
}

.headerButtonProfileContainer:hover {
  background-color: #ffffff;
}

.headerButtonProfileContainer:hover span.tabText {
  color: #1e32fa;
}

.headerButtonProfileContainer:hover div.headerButtonProfile,
.headerBarButton:hover div.headerButtonArrow {
  background-color: #1e32fa;
}

.headerButtonNotificationsContainer {
  white-space: nowrap;
}

.mobileMenu .headerButtonNotificationsContainer img,.mobileMenu .headerButtonSearchContainer img{
  width:28px;
}


.headerButtonNotificationsContainer:hover {
  cursor: pointer;
}
.headerButtonSearchContainer {
  padding-right: 6px;
  padding-left: 6px;
}

.headerButtonNotificationsCloseIcon,
.headerButtonSearchCloseIcon {
  display: none;
  width: 28px;
  height: 28px;
}

.notificationNumber {
  background-color: #fac832;
  font-size: 11px;
  text-align: center;
  z-index: 2;
  margin-left: -6px;
  display: inline;
}

.headerButtonProfileContainer:hover .openProfile,
.openProfile:hover {
  display: block;
}

.headerButtonProfileIconOver, .headerButtonProfileArrowOver {
  display: none;
}

.headerButtonProfileArrowOver {
  transform: rotate(180deg);
  margin-top: 2px;
}

.headerButtonProfileContainer:hover .headerButtonProfileIcon, .headerButtonProfileContainer:hover .headerButtonProfileArrow {
  display: none;
}

.headerButtonProfileContainer:hover .headerButtonProfileIconOver, .headerButtonProfileContainer:hover .headerButtonProfileArrowOver {
  display: block;
}

.openProfile {
  display: none;
  position: absolute;
  margin-top: 3px;
  z-index: 9005;
  min-width: 160px;
  align-self: baseline;
  top: 33px;
  left: 0;
}

.profileOption {
  display: block;
  font-weight: 500;
}

.profileOption:hover {
  background-color: #f0f2f5;
}

.customCardWhite {
  border: none;
  box-shadow: 5px 10px 20px #e2e2e2;
}

.headerBarButton:hover div.headerButtonArrow {
  transform: rotate(180deg);
}

.headerMarginRight {
  margin-right: 10%;
}

.notificationCenterTitle {
  font-size: 20px;
  font-weight: bold;
}

.notificationCenterTextsize {
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .notificationCenterTextsize {
    font-size: 12px;
  }
}

.unreadNotification {
  background-color: #f7f8fa;
}

.readNotification {
  background-color: white;
}

.openNotifications.mobileOpenContainer,.openSearch.mobileOpenContainer{
  top: 60px;
}

.openNotifications {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 10000;
  width: 100%;
  max-width: 500px;
  height: 550px;
  max-height: 550px;
  right: calc(10% + 1.5rem + 21.5px);
}

.openSearch {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 10000;
  width: 100%;
  max-width: 480px;
  height: auto;
  max-height: 730px;
  right: calc(10% - 1.5rem + 5.5px);
  background-color:#fff;
}

@media only screen and (max-width: 767px) {
  .openNotifications {
    width: 90%;
    height: 400px;
    max-height: 440px;
    right: calc(16px - 16px); /* parent margin - this margin */
  }

  .openSearch {
    width: 90%;
    height: auto;
    right: calc(16px - 16px); /* parent margin - this margin */
    top: 90px;
    overflow: hidden;
  }
}

.closeButton {
  font-size: 35px;
  line-height: 35px;
  transform: rotate(45deg);
  color: #1e32fa;
  font-family: Arial;
}

.notificationOption,
.SearchOption {
  display: block;
  font-weight: 500;
}

.notificationBox {
  height: 82px;
}

.notificationTitle {
  background-color: #e1e3e6;
  padding: 3px;
}

.notificationBody {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.circle {
  display: block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid rgba(51, 51, 255, 0.4);
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}

.circle:hover {
  display: block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid rgba(51, 51, 255, 0.4);
  float: right;
  background-color: rgba(51, 51, 255, 0.4);
}

.hrConfig {
  margin: 0px;
}

.viewDetailConfig:hover {
  text-decoration: underline;
}

.modalNotificationDetail {
  height: 640px;
  z-index: 10005;
}

.modalBox {
  max-width: 100vw;
}

.modalBody {
  max-height: 500px;
  overflow-y: auto;
}

.modalType {
  font-weight: 500;
  text-align: center;
}

.background {
  background-color: white;
}

.addOverflow {
  overflow-y: auto;
}

.tooltipMark {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipMark .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 2px;
  position: absolute;
  z-index: 1;
  right: -40px;
  bottom: 7px;
  -webkit-box-shadow: 0px 0px 5px 0px #cfcfcf;
  -moz-box-shadow: 0px 0px 5px 0px #cfcfcf;
  box-shadow: 0px 0px 5px 0px #cfcfcf;
}

.tooltipMark:hover .tooltiptext {
  visibility: visible;
}

.headerBarContainer {
  height:100%;
}

.headerTitle {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}

.mobile-menu-icon {
  min-width: 40px;
}

.sideMenuBottomcover {
  height:100%;
  width: 0%;
  background: rgba(51, 51, 51, 0.4);
}

.sideBar {
  width: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 10011;
  color: white;
}

.sideBar,.sideMenuBottomcover {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 10011;
}

.whiteBackground .topMenu{
  width: 0px;
}

.sideBar.topMenu {
  height: 0px;
}

.sideMenuOpacity {
  opacity: 0.68;
}

.sideBarContainer {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.sideBarContainer .spacer-border .headerBarButton {
  border-bottom: 1px solid rgba(255, 255, 255, .19);
}

.publicSideBarBtnMenu .spacer-border .headerBarButton {
  border-bottom: 0.3px solid rgba(30, 50, 250, 0.6);
}

.publicSideBarBtnMenu .spacer-border .headerBarButton.selectedButton {
  border-bottom: none;
}



.sideBarContainer .language-picker {
  border-top: 1px solid rgba(255, 255, 255, .19);
  margin-top: 50px;
  font-size: 1em;
}

.sideBarProfileContainer .headerBarButton {
  margin-left: 4em;
}

.sideMenuBackIcon {
  /*width: 15px;*/
  margin-bottom: 10px;
}

.sideBarProfileContainer {
  overflow: hidden;
  height: 0px;
}

.align-right {
  text-align: right;
}

.rotate-180 {
  transform: rotate(180deg);
}

.spacer {
  width: 2.7em;
}

@media only screen and (max-width: 767px) {
  /* css class defined on the 'CSP_StyleSheet' file */
  .tabNotificationCenter .slds-tabs_default__content {
    margin-left: 3px;
    margin-right: 3px;
    min-width: 294px;
    max-height: 255px;
  }
  .mobileLogoWhite {
    max-height: 75%;
    width: auto;
  }
}


.loginBtn{
  background: #1E32FA;
  border: 0.5px solid #FFFFFF;
  color: white;
  width: 104px;
  line-height: 26px;
}

.signUpBtn{
  background: #FFFFFF;
  border: 0.5px solid #1E32FA;
  width: 104px;
  color: #1E32FA;
  line-height: 26px;
}

.loginBtn:hover{
  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #1E32FA;
}
.signUpBtn:hover{  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #FFFFFF;
}

.grayline{
  width: 100%;
  border-top: 2px solid #d8d8d8;
  top: -7px;
}


.logo::after {
  display: block;
  position: relative;
  content: " ";
  z-index: 1;
  border: solid #fff;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 22px solid transparent;
  border-top: 20px solid rgb(250, 250, 250);
}

.mobilebackground{
  background:#F0F2F5;
  height: 75%;
}

.publicSideBarBtnMenu .loginBtn,.publicSideBarBtnMenu .signUpBtn{
  line-height: 34px;
  border: 0.5px solid #1E32FA;
}

.mobileLayout .headerSection{
  height:100px;
}
.mobileLayout .contentSection{
  height:375px;
}
.mobileCloseBtn{
  bottom: 3%;
  left: 45%;
}