/**
 * Created by pvavruska on 8/8/2019.
 */

.slds-combobox__input, .slds-combobox_container .customborder {
    transition: border .1s linear, box-shadow .1 linear;
}

.slds-combobox__input.no-boxshadow {
    box-shadow: none;
}

.slds-combobox__input.has-custom-border {
    box-shadow: none;
}

.slds-combobox__input.has-custom-border:focus {
    box-shadow: none;
    border-color: white;
}

.slds-combobox__input.has-custom-error {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.slds-combobox_container.has-custom-error {
    border: none !important;
}

.slds-combobox__input.has-custom-height {
    height: 32px !important;
}

.form-error {
    color: rgb(194, 57, 52);
    display: block;
}

.squareBorder {
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.squareShadow.slds-has-error {
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}

.customMaxHeight {
    max-height: 320px;
}

.addUserBttnContainer{
    float:right;
}

.ninetyPercent{
    width:90%;
}

.threeQuarters{
    width:75%;
}

.addUserBttn:disabled{
    font-size:16px;
    color: #9a9eb0;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    border-radius: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.addUserBttn{
    font-size:16px;
    color: #3333ff;
    border: solid 1px #1e32fa;
    background-color: #ffffff;
    border-radius: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.resultLine{
    border-bottom: 1px solid #e1e1e1;
    min-height: 2.5rem;
    text-align: left;
    margin-top: auto;
}

.combobox_container, .slds-combobox{
    width:100%;
}

userSeachInput{
    font-size:18px;
}

.breakWord{
    word-break: break-all;
}

.checkPlace{
    min-width:1.5rem;
}

.contactListbox{
    margin-top:0.5rem;
    border-radius:0;
    padding-bottom:0;
}