.THIS.link {
    display: block;
    cursor: pointer;
    text-decoration: underline;
}
.THIS.popup {
	max-width: 100%;
	white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 1200px) {
    .THIS.slds-truncate {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
