.innerHeaderCss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerTitleCss {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-left: 0;
}

.innerTitleCss {
    display: block;
    overflow: auto;
}

.triangleRight {
    width: 20px;
    height: 20px;
    border-top: 20px solid transparent;
    border-left: 20px solid #f04632;
    border-bottom: 20px solid transparent;
}