.searchtypebox {
    cursor: pointer;
    /*width:20%;*/
    float: left;
}

.selectedtype {
    background-color: #ffc90d;
    padding: 10px;
}

.selectedtype-responsive {
    background-color: transparent;
    padding: 10px;
}

.searchtypecombo {
    background-color: #ffc90db3;
    position: absolute !important;
    /*width: 30%;*/
    width: 150%;
}

.searchtypecombo-responsive {
    background-color: #ffc90d;
    position: absolute !important;
    z-index: 5;
    width: 100%;
    /*width: 30%;*/
}

.searchbox {
    padding: 43px;
    /*width: 70%;*/
}

.searchboxdiv {
    /*width:70%;*/
    display: inline-block;
}

.searchbutton {
    /*width:30%;*/
    background-color: #FFFFFF;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.searchbuttonimg {
    width: 55px;
    padding: 15px 5px 15px 5px;
    display: inline-block;
}

input,
select,
textarea,
button {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"] {
    font-size: 21px;
}

 ::-webkit-input-placeholder {
    font-size: 21px;
}

 ::-moz-placeholder {
    font-size: 21px;
}

 :-ms-input-placeholder {
    font-size: 21px;
}

 ::placeholder {
    font-size: 21px;
}

.cellpadding {
    padding: 10px;
}

.searchtypebox {
    cursor: pointer;
    /*width:20%;*/
    float: left;
}

.selectedtype {
    background-color: #ffc90d;
    padding: 10px;
}

.selectedtype-responsive {
    background-color: transparent;
    padding: 10px;
}

.searchtypecombo {
    background-color: #ffc90db3;
    position: absolute !important;
    /*width: 30%;*/
    width: 150%;
}

.searchtypecombo-responsive {
    background-color: #ffc90d;
    position: absolute !important;
    z-index: 5;
    width: 100%;
    /*width: 30%;*/
}

.searchbox {
    padding: 43px;
    /*width: 70%;*/
}

.searchboxdiv {
    /*width:70%;*/
    display: inline-block;
}

.searchbutton {
    /*width:30%;*/
    background-color: #FFFFFF;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.searchbuttonimg {
    width: 55px;
    padding: 15px 5px 15px 5px;
    display: inline-block;
}

input,
select,
textarea,
button {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"] {
    font-size: 21px;
}

 ::-webkit-input-placeholder {
    font-size: 21px;
}

 ::-moz-placeholder {
    font-size: 21px;
}

 :-ms-input-placeholder {
    font-size: 21px;
}

 ::placeholder {
    font-size: 21px;
}

.cellpadding {
    padding: 10px;
}