/*------------------------------------*\
    #$base
\*------------------------------------*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: 1.4;
    color: $text-color;
    min-height: 100vh;
}



a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.resubscribe {
    font-family: Arial;

    a {
        color: #2190d8;
    }
}

abbr[title] {
    border-bottom: 0;
}

figure {
    margin: 0;
    padding: 0;
}

/*------------------------------------*\
    #$common
\*------------------------------------*/
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.is-hidden {
    display: none !important;
}

.separator {
    border-top: 1px solid #ccc;
}

.reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*------------------------------------*\
    #$box
\*------------------------------------*/

.box-header {
    font-weight: $font-weight-bold;
}

.box-body {
    padding: 15px;
    margin-bottom: 5px;

    &.fit {
        padding: 0;
    }
}

.box-footer {
    margin-top: -5px;
    text-align: center;
    background: #d0d0d2;
    padding: 1.8em 1em;

    a {
        color: $text-color;
    }
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.page-footer {
    color: #fff;
    background: #2a3940;
    margin-top: 50px;

    /*&[data-is-sticky='true'] {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
*/
    .inner-wrapper {
        padding: 40px 0 40px 120px;
    }

    .inner-wrapper::before {
        content: '';
        display: inline-block;
        background: url(../img/common/logo-IATA-international-air-transport-association-white.svg) no-repeat;
        width: 100px;
        height: 80px;
        position: absolute;
        top: 30px;
        left: 5px;
    }

    a {
        color: #969696;
        text-decoration: none;
    }

    .group-container {
        margin: 5px 0;
    }

    .group-title {
        font-weight: $font-weight-bold;
    }

    .list {
        display: inline-block;
    }

    li {
        display: inline-block;
        margin-left: 10px;
        border-right: 2px solid #969696;
        line-height: 1.2;
        padding-right: 10px;

        &:last-child {
            border: 0;
        }
    }
}

.copyright {
    color: #9aa3b7;
    display: block;
}

.resubscribe {
    .page-footer {
        font-size: 1.4rem;
        text-align: center;

        background: #0a4279;

        a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
        .inner-wrapper {
            padding: 50px 0;

            &::before { 
                display: none;
            }
        }
    }
}

$icon-size: 50px;
.nav-social {

    li {
        margin: 0 5px;
        padding: 0;
        border: 0;
    }

    
    .icon {
        position: relative;
        display: block;
        width: $icon-size;
        height: $icon-size;

        
        &::after,
        &::before {
            width: $icon-size;
            height: $icon-size;
            position: absolute;
            left: 0;
        }

        &::after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            border: 2px solid #fff;
            z-index: 10;
        }

        &::before {
            line-height: $icon-size;
            font-size: 2.2rem;
            text-align: center;
            z-index: 11;
            padding: 0;
        }

        &:focus {
            display: block;
            width: $icon-size;
            height: $icon-size;

        }
    }
    
}



.row-mangage .group-container {
    margin-top: 40px;
    padding: 0 15px 30px 80px;
    position: relative;

    p {
        margin: .5em 0 0;
    }

    .action {
        text-align: right;
        margin-top: 15px;
        position: absolute;
        bottom: 0;
        right: 15px;
    }

    .button {
        width: 200px;
    }
}

/*.row .group-container::before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
}*/
.group-container {
    background: no-repeat 10px 0;

    &.manage-templates {
        background-image: url(../img/components/icons/icon1.png);
    }

    &.manage-list {
        background-image: url(../img/components/icons/icon2.png);
    }

    &.view-reports {
        background-image: url(../img/components/icons/icon3.png);
    }
}

.errorM3 {
    border: 1px solid #ed1c24;
    background: #fbe9ea;
    padding: 15px 15px 15px 50px;
    margin: 30px 0 0;

    .msgIcon {
        display: none;
    }

    h2,
    h3,
    h4 {
        margin: 0;
    }

    &::before {
        font-family: 'FontAwesome';
        position: absolute;
        margin-left: -30px;
        content: '\f071';
        color: #ed1c24;
    }
}



/*------------------------------------*\
    #$main-content
\*------------------------------------*/
.group-container {
    &.campaigns {
        position: relative;

        .group-title {
            margin-top: 2px;
            margin-bottom: 23px;
        }

        .lead {
            color: #23828c;
        }
    }
}

.inner-wrapper {
    position: relative;
    margin: auto;
    max-width: 1600px;
    padding: 0 15px;
    
    &.mosaico {
        max-width: none;

        .plugin-container {
            padding: 10px;
        }
    }
}

.resubscribe {
    .inner-wrapper {
        max-width: 1140px;
    }
}


.message-container {
    background: #e6ecf1;
    text-align: center;
    padding: 15px 0;

    p {
        margin: 0;
        padding: 15px 0;
        color: #666;
    }

    .lead {
        font-size: 2.4rem;
        color: #2a3940;
    }
}


.action-box {
    margin: 15px 0;

    &.create-campaign {
       position: absolute;
       right: 0;
       top: 0;
       margin-top: -9px;
    }
}

.content-dashboard {
    .page-title {
        margin-bottom: 30px;
    }

}

.row {
    .main-container {
        padding-right: 15px;
    }

    .sub-container {
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {

.row {
    .main-container {
        padding-right: 20px;
    }

    .sub-container {
        padding-left: 20px;
    }
}
}

.info-box {
    border-top: 1px solid #23828c;
    padding: 20px 0 20px 50px;
    position: relative;

    p {
        margin: 1em 0 0;
    }

    &.list {
        border: 0;

        li {
            margin-top: -1px;
        }

        p {
            margin: 0;
        }
    }

    &.icon::before {
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 40px;
        color: #238b63;
    }

    &.clock {
        padding-left: 80px;
        border-bottom: 0;

        &::before {
            color: #e6bb70;
        }

    }



    .action {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

.show-hide-toggle {
    display: none;
}

.is-selected {
    .show-hide-toggle {
        display: block;
    }
}



.show-hide-toggle {
    background: #fff;
    margin: 5px -15px -5px;
    color: $text-color;
    padding: 5px 15px 0 15px;

    .input-label {
        font-weight: 700;
    }

    .field-group {
        margin: 0;
        padding: 10px 0;
    }
}

.icon-link {
    font-size: 1.8rem;

    .icon {
        margin-right: 10px;
        font-size: 3rem;
        vertical-align: middle;
        color: #92bfc8;
    }
}

.item-name,
.item-description {
    margin: 0;
}

.footer-actions {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    margin: 15px 0;

    .text-link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.resubscribe {
    .footer-actions {
        border: 0;
    }
}

.create-list-steps .footer-actions {
    margin-top: 80px;
}


.list-actions {
    margin: 1em 0;
}

.list .custom-geo-selection {
    margin-left: 50px;
}

.custom-geo-selection {

    .action-link {
        display: inline-block;
        margin-left: 10px;
    }
}

.custom-geo-selection .field-group {
    margin: 15px 0;
    padding: 0;

    .custom-user-input.select {
        margin-right: 10px;
    }

    &.recipents-match {
        padding-bottom: 15px;
        border-bottom: 1px dotted #ccc;

        .custom-user-input.select {
            margin-left: 10px;
        }
    }
}

.action.refresh-count {
    padding: 20px 0;

    .button {
        margin-left: 10px;
    }
}

.field-group.list-name {
    width: 70%;
    margin-top: 50px;
    padding-bottom: 20px;
}

.group-container.schedule {
    margin: 30px 0;
    font-size: 1.6rem;
    border-top: 1px solid #ccc;
    padding: 20px;

    .custom-user-input.select .icon::before {
        margin-top: 0;
    }

    p {
        margin: 0;
    }

    .note {
        font-size: 1.4rem;
        color: #666;
    }

    .label {
        margin: 1em 0;
    }
    .datepicker::before {
        top: 8px;
    }

    .group-title {
        font-size: 2rem;
        font-weight: normal;
        color: #134045;

        &.icon::before {
            font-size: 28px;
            vertical-align: middle;
            padding-bottom: 2px;
            margin-right: 10px;
        }
    }


    .group-content {
        margin-left: 39px;
    }
}

.subject-line {
    .title .text-link {
        font-size: 1.6rem;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.group-container.use-html-code {
    margin: 30px 0 150px;
}

.action-header {
    border-bottom: 1px solid #23828c;
    padding: 0 0 15px;
    margin: 0 0 30px;

    .group-title {
        font-size: 1.8rem;
        font-weight: normal;
    }

    .field-group {
        margin: 0;
    }

    .user-input {
        display: block;
    }
}

.manage-resources,
.manage-account {
    .tab-pane {
        padding-top: 30px;
    }

    .page-title {
        margin-bottom: 80px;
    }
}

.gage-container {
    position: absolute;
    top: 0;
    right: 15px;
    width: 360px;

    .light {
        float: right;
        color: #666;
    }

    .button {
        float: right;
    }
}

.gage {
    height: 20px;
    background: #2a3940;
    margin: 10px 0;
}

.gage-meter {
    height: 20px;
    background: #2ca4b1;
}

.name-ellipsis {
    width: 200px;

}

.ellipsis {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-box {
    background: #e9f2f3;
    text-align: center;
    padding: 16px;

    .number {
        font-size: 3rem;
        font-weight: 600;
        display: block;
    }

    .label {
        font-size: 1.8rem;
    }

    .icon {
        font-size: 5rem;
        color: #a2e0e4;
    }

    &.dark {
        background: #b4e1e5;

        .icon {
            color: #fff;
        }
    }
}

.group-container.account-activity {
    margin: 50px 0;
}

.type-sort {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    background: #fff;
    width: 200px;
    @include box-shadow(2px, 2px, 5px, 0, rgba(173,173,173,1), $inset: false);
    margin-top: 11px;
    display: none;
    z-index: 10;

    &.is-open {
        display: block;
    }
    
    .checkbox-box {
        margin: 5px 0 0;
    }
    .input-label {
        font-weight: normal;
        margin-bottom: 0;
    }

    .checkbox:checked ~ .custom-checkbox {
        background: #fff;
        
        .icon::before {
            color: #000;
        }
    }

}

.back-to-list {
    position: absolute;
    top: 0;
    right: 15px;

    a {
        text-decoration: none;
    }
}

.separator {
    border-top: 1px solid #ccc;
    margin: 50px 0;
}

.page-top {
    position: fixed;
    bottom: 20%;
    right: 0;

    a {
        font-size: 1.4rem;
        display: inline-block;
        padding: 5px 10px;
        background: #2ca4b1;
        color: #fff;
        text-decoration: none;
    }
}

.is-sticky-container {
    top: 0;
    background: #fff;
    margin: 48px auto 0;

    &.fixed {
        position: fixed;
        margin-top: 0;
    }
}

.manage-reports .group-container:before {
    display: block; 
    content: ''; 
    margin-top: -498px; 
    visibility: hidden; 
    height: 498px;
}

.stikcy-adjuster {
    top: 0;
}

.confirmation-box {
    border: 1px solid #2190d8;
    padding: 30px;
    font-size: 1.6rem;

    p {
        margin: 0 0 15px;
    }
}

.contact-us {
    margin: 15px 0;
    display: inline-block; 
}