.page-header {
    background: #24828c;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    .inner-wrapper {
        font-size: 0;
    }

    .lead {
        text-transform: none;
        font-size: 2.5rem;
        margin: .5em 0;
    }
}

.resubscribe {
    .page-header {
        background: #0a4279;
        text-align: center;
    }
}

.page-header .column {
    font-size: $font-size-base;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.column-nav {
}

.column-account {
    text-align: right;
}

.site-logo {
    margin: 0 50px -4px 0;
}

.resubscribe {
    .site-logo {
        margin: 15px 0 0;

        img {
            width: 150px;
            height: 90px;
        }
    }
}

.site-logo,
.main-nav,
.account-nav li {
    display: inline-block;
    vertical-align: middle;
}

.account-nav li {
    margin-left: 25px;
}
.sub-nav {
    position: absolute;
    background: #fff;
    color: $text-color;
    text-transform: none;
    width: 376px;
    z-index: 100;
    margin-top: 32px;
    @include box-shadow(2px, 2px, 5px, 0, rgba(173,173,173,1), $inset: false);
    display: none;

    &.is-open {
        display: block;
    }

    a {
        color: #23828c;
    }

    .button {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    .title {
        font-weight: bold;
        font-size: 2rem;
    }

    .nav.tabs {
        font-size: 0;
        border: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
        }
        
        a {
            background: #c8c8c8;
            color: #fff;
        }

        .active {
            border: 0;
            

            a {
                background: #1ebec8;
            }
        }
    }

    .tabs {
        position: relative;
        z-index: 110;
        
        > li:first-child::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: #c8c8c8;
            position: absolute;
            margin-top: -8px;
            left: 99px;
            @include  rotate(45);
        }

        > .active:first-child::before {
            background: #1ebec8;
        }

        li {
            display: inline-block;
            font-size: 1.6rem;
            width: 50%;
        }

        a {
            text-align: center;
            display: block;
            padding: 10px 15px;
        }
    }
    
    .tab-content {
        padding: 30px 20px 20px;

        li {
            margin-top: 1em;
        }
    }
}
