@import 'normalize';

@import 'common/variables';
@import 'common/mixins';
@import 'common/settings';
@import 'common/breakpoints';
@import 'common/base';
@import 'common/typography';
@import 'common/header';

@import 'vendor/font-awesome';
@import 'vendor/jquery-ui';

@import 'components/icon';
@import 'components/grid';
@import 'components/buttons';
@import 'components/list';
@import 'components/form';
@import 'components/modal';
@import 'components/data-table';
@import 'components/tab';
@import 'components/datepicker';
@import 'components/tooltip';
@import 'components/alert';
@import 'components/accordion';
@import 'components/pages';

@import 'modules/payment';
@import 'modules/manage-account';
@import 'modules/manage-reports';

@import 'components/design';
