.bodyContent{
    flex-grow: 1;
    overflow: auto;
}

.loginFooter{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: flex-end;
    padding-top: 10px;
}

.footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.containerHeight{
    align-items: stretch;
    height: 100%;
    position: absolute;
    width: 100%;
}

.contentWrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: stretch;
}

.bodyContent{
    background-color: #f0f2f5;
}

@media only screen and (max-width: 770px){
    .logoMobile{
        display: none;
        padding-top: 1rem;
        width: 70%;
        max-width: 400px;
    }
}

.loginFooter{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: flex-end;
    padding-top: 10px;
}

.footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    .loginFooter{
        justify-content: center;
    }
}

.leftLink{
    padding-right: 10px;
}

.rightLink{
    padding-left: 10px;
}