.modalSpinnerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.headerTitle {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}

.specialLabel {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #525252;
  padding-top: 5%;
}

.checkbox-button {
  cursor: pointer;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox-button__input {
  font-size: 1rem;
  opacity: 0;
  position: absolute;
}

.checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  background-color: inherit;
  color: blue;
  border: 1px solid blue;
}

.errorOnCheckBox {
  border-color: #c23934;
}

.checkbox-button__input:checked + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: blue;
}

.checkbox-button__input:checked + .checkbox-button__control {
  border-color: blue;
}

.checkbox-button__control {
  transform: scale(0.75);
}

.fieldError {
  font-size: 0.75rem;
  color: rgb(194, 57, 52);
  margin-left: 5px;
  margin-top: -10px;
}

.fontWeight {
  font-weight: 500;
}

.errorBox {
  color: #fff;
  border-radius: 4px;
  background: #c23934;
  padding: 10px;
  margin-left: 38px;
  width: 89%;
  white-space: normal;
}

.workingAreasError {
  text-decoration: underline;
  text-decoration-color: #c23934;
}

.workingAreasRemoveError {
  text-decoration: none;
}

.custom-recipients {
  display: inline-block;
  border-radius: 1px;
  background-color: #f7f8fc;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #4a4d61;
}