<script type="text/javascript" src="/soap/ajax/33.0/connection.js"></script> 
<script> 
try { 
//some vars 
userId = "{!User.Id}"; 
severityLevel = "{!Case.Status}"; 
caseId = "{!Case.Id}"; 

//lets update the case 
cse=new sforce.SObject("Case"); 
cse["OwnerId"]=userId; 
//cse["Status"]="In progress"; 
if(!severityLevel)cse["Severity_Level__c"]="Medium"; 
cse["Id"]=caseId; 
sforce.connection.update([cse]); 

//and refresh the page 
document.location.href="/{!Case.Id}"; 

} catch(error) { 
alert("There has been an error:\n\n"+error); 
} 
</script>