<script type="text/javascript" src="/soap/ajax/9.0/connection.js"></script> 
<script> 
try { 
//some vars 
severityLevel = "{!Case.Status}"; 
caseId = "{!Case.Id}"; 

//lets update the case 
cse=new sforce.SObject("Case"); 
cse["Status"]="Closed - pending customer approval"; 
if(!severityLevel)cse["Severity_Level__c"]="Medium"; 
cse["Id"]=caseId; 
sforce.connection.update([cse]); 

//and refresh the page 
document.location.href="/{!Case.Id}"; 

} catch(error) { 
alert("There has been an error:\n\n"+error); 
} 
</script>