<html>
<head>
<script src="/soap/ajax/9.0/connection.js"></script>
<script>
function initPage()
{
//debugger;
sforce.connection.BatchSize=500;

var result = sforce.connection.query("Select c.LastName, c.Id, c.FirstName, c.Email, (Select OpportunityId From OpportunityContactRoles where CreatedDate > 2006-01-01T15:45:24.000Z), (Select Id From ActivityHistories where CreatedDate > 2006-01-01T15:45:24.000Z), (Select Id From Cases where CreatedDate > 2006-01-01T15:45:24.000Z) From Contact c limit 10000");


var records = result.getArray("records");

//alert(records);

var sb = new sforce.StringBuffer();
sb.append("<table border=1 cellpadding=0 cellspacing=0 > <tr><td>No</td><td>Id</td><td>Last Name</td><td>First Name</td><td>Email</td></tr>");

var moreQuery = true;
while (moreQuery)
{

if (result.size > 0)
{
for (var i=0; i<records.length; i++)
{
var recordset= records[i];

if(recordset.Cases == null && recordset.OpportunityContactRoles == null && recordset.ActivityHistories== null)
{

sb.append("<tr><td>").append(i+1).append("</td>");
sb.append("</td><td> ").append(editLink(recordset, "Id"));
sb.append("</td><td> ").append(editLink(recordset, "LastName"));
sb.append("</td><td> ").append(editLink(recordset, "FirstName"));
sb.append("</td><td> ").append(editLink(recordset, "Email"));
}
sb.append("</td></tr>");
}
}
if (result. queryLocator == null)
{
moreQuery=false;
}
else
{
result = sforce.connection.queryMore(result.queryLocator);
var records = result.getArray("records");
}
if(sb.length>32000)
{
sb.append("</table>");
document.body.innerHTML = document.body.innerHTML + "<p>" + sb.toString();
sb="";
sb.append("<table border=1 cellpadding=0 cellspacing=0 > <tr><td>No</td><td>Id</td><td>Last Name</td><td>First Name</td><td>Email</td></tr>");
}
}//end of while
sb.append("</table>");
document.body.innerHTML = document.body.innerHTML + "<p>" + sb.toString();
}
function editLink(recordset, field) {
var value = recordset[field];
return value;
}
</script>
</head>
<body onload="initPage();">
</body>
</html>