<html> 
<head> 
<script src="/soap/ajax/9.0/connection.js"></script> 
<script> 
function initPage() { 

var result = sforce.connection.query("Select c.Name, c.Id, c.Email, c.Department, c.CreatedDate, c.AccountId, (Select OpportunityId, CreatedDate From OpportunityContactRoles where CreatedDate > 2006-01-01T15:45:24.000Z), (Select Id, CaseNumber, SuppliedName, CreatedDate From Cases where CreatedDate > 2006-01-01T15:45:24.000Z) From Contact c limit 2000"); 

var records = result.getArray("records"); 

var sb = new sforce.StringBuffer(); 
sb.append("<table border=1 cellpadding=0 cellspacing=0 > <tr><td>No</td><td>Contact Id</td><td>Name</td><td>C.Email</td><td>Account Id</td><td>Department</td><td>Created date</td></tr>"); 

 var moreQuery = true;
while (moreQuery) {

if (result.size > 0) {
for (var i=0; i<records.length; i++) { 
var recordset= records[i]; 

if(recordset.Cases == null && recordset.OpportunityContactRoles == null ) { 

sb.append("<tr><td>").append(i+1).append("</td>"); 
sb.append("</td><td> ").append(editLink(recordset, "Id")); 
sb.append("</td><td> ").append(editLink(recordset, "Name")); 
sb.append("</td><td> ").append(editLink(recordset, "Email")); 
sb.append("</td><td> ").append(editLink(recordset, "AccountId")); 
sb.append("</td><td> ").append(editLink(recordset, "Department ")); 
sb.append("</td><td> ").append(editLink(recordset, "CreatedDate")); 
} 
sb.append("</td></tr>"); 
} 
}
if (result. queryLocator == null) {
                    moreQuery=false;
                } else {
                    result = sforce.connection.queryMore(result.queryLocator);
                }
}
sb.append("</table>"); 
document.body.innerHTML = sb.toString(); 
} 
function editLink(recordset, field) { 
var value = recordset[field]; 
return value; 
} 
</script> 
</head> 
<body onload="initPage();"> 
</body> 
</html>